- content_for :title do
  Semesters

- if active_semester
  .layout.vertical.center
    %h3.mdl-display-2.header
      system semester: #{active_semester.semester}

    = form_for active_semester, url: system_semesters_path, method: :put do |f|
      = f.collection_select(:id, Semester.all, :id, :semester)
      = f.submit "Set System Semester"

    - if active_semester != session_semester
      %h3.mdl-display-2.header
        session semester:
        = session_semester.semester

    = form_for session_semester, url: set_session_semesters_path, method: :put do |f|
      = f.collection_select(:id, Semester.all, :id, :semester)
      = f.submit "Set Session Semester"

= new_fab new_semester_path
