<core-overlay id="new_session_overlay" autoCloseDisabled opened backdrop transition="core-transition-center">
	<section id="section" layout vertical>
		
		<paper-tabs selected="0" id="paperTabs" >
		    <paper-tab id="one">LOGIN</paper-tab>
		    <paper-tab id="two">SIGNUP</paper-tab>
		</paper-tabs>
		
		<section id="section1" flex relative>
        	<core-animated-pages id="baluga" transitions="slide-from-right">
	          	<section id="section2" style="padding-top:40px;">
	            	<%= form_tag(login_path, remote: true) do %>
	            		<paper-input-decorator label="Enter Email" floatinglabel>
	      					<%= text_field_tag :email, params[:email], is: 'core-input' %>
	      				</paper-input-decorator>
      					
      					<paper-input-decorator label="Enter Password" floatinglabel>
      						<%= password_field_tag :password, params[:password], is: 'core-input' %>
      					</paper-input-decorator>
	      					
      					<div center-justified layout horizontal style="margin-top: 14px;">
							<paper-button>
								<%= submit_tag "LOGON", id: "submit_logon" %>
							</paper-button>
    					</div>
    						
						<div layout flex horizontal center-justified>
							<paper-button raised-button id="forgot_password">
								Forget?
							</paper-button>
						</div>
						
						<div style="margin-top: 15px;" layout flex horizontal center-justified>
							<a id="transcript_remove_link" href="https://senior-project-website-npezza.c9.io/">Project Website</a>
						</div>

      				<% end %>
	    				
	    				<%= render "forgot" %>
	    				
	          	</section>
          
	          	<section id="section3" style="padding-top:10px;">
	          		<%= render 'users/form', :@user => User.new %>
	          	</section>
        	</core-animated-pages>
      	</section>
    </section>
</core-overlay>

<% if notice %>
	<paper-toast id="toast1" class="capsule" text="<%= notice %>" style="padding-right: 60px;" duration="10000" opened ></paper-toast>
<% end %>
<div id='login_error'></div>
<div id='reset_error'></div>