<% if not @errors %>
    $("#classes_taken_list").append("<p id=\"user_<%= @transcript.course_id %>_transcript_class\" style=\"font-weight:bold;text-align:center;display:none;\"><%= @transcript.course.subject + @transcript.course.course.to_s + ": " + @transcript.course.title %></p>");
    $("#user_<%= @transcript.course_id %>_transcript_class").slideDown();
    $("#transcript_form_errors").html("<paper-toast class=\"capsule\" text=\"<%= @transcript.course.title %> added to your transcript!\" style=\"padding-right: 60px;\" duration=\"10000\" opened ></paper-toast>");
<% else %>
    <% @transcript.errors.full_messages.each do |message| %>
        $("#transcript_form_errors").html("<paper-toast class=\"capsule\" text=\"<%= message %>!\" style=\"padding-right: 60px;color: #eeff41;\" duration=\"10000\" opened ></paper-toast>");
    <% end %>
<% end %>