- content_for :title do
  Transcript

%h3.mdl-display-2.header
  Transcript

.layout.vertical.center
  = form_for @transcript do |f|
    .transcript-fields
      = f.collection_select(:course_id, Course.all.order(:subject, :course), :id, :pretty_course, prompt: 'Choose a Course')
      .grade
        = f.select(:grade_c, Transcript::GRADES, prompt: 'Grade')

    = f.submit 'add to transcript'

  %ul.collapsible.popout{ data: { collapsible: :accordion }, style: 'margin-top: 35px;' }
    - @transcripts.each do |transcript|
      %li
        .collapsible-header
          = transcript.course.pretty_course
        .collapsible-body
          %ul.demo-list-item.mdl-list.center-text
            = link_to 'Remove', transcript_path(transcript), method: :delete, data: { confirm: 'Are you sure you want to remove this course?' }


%button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.new_major_fab
  %i.material-icons file_upload

%dialog.new_major_dialog.mdl-dialog
  %h5.mdl-typography--headline.bold.center-text To Upload an Updated Transcript

  %ol#upload-transcript-list
    %li Log in to VIP and go to DegreeWorks
    %li Click the "Class History" link
    %li
      Once the new window opens, press CTRL+A to select all the text

  = form_tag(import_transcripts_path) do
    = text_area_tag 'Transcript',params[:text]
    = submit_tag 'Submit'
