- content_for :title do
  Transcript

%h3.mdl-display-2.header
  Transcript

.layout.vertical.center
  = form_for @transcript, remote: true do |f|
    .transcript-fields
      = f.collection_select(:course_id, Course.all.order(:subject, :course), :id, :pretty_course, prompt: 'Choose a Course')
      .grade
        = f.select(:grade_c, Transcript::GRADES, prompt: 'Grade')

    = f.submit 'add to transcript'

  %ul.collapsible.popout{ data: { collapsible: :accordion }, style: 'margin-top: 35px;' }
    - @transcripts.each do |transcript|
      %li
        .collapsible-header
          = transcript.course.pretty_course
        .collapsible-body
          %ul.demo-list-item.mdl-list.center-text
            = link_to 'Remove', transcript_path(transcript), method: :delete, remote: true

= render 'upload'
