- content_for :title do
  Transcript

%h3.mdl-display-2.header
  Transcript
%p.transcript-helper-text
  To add a course you can select it from the dropdown or use the upload
  FAB in the bottom right to upload a brand new transcript.
  To remove a course just click on the course in the list.
.layout.vertical.center
  = form_for @transcript do |f|
    .transcript-fields
      = f.collection_select :course_id,
                            Course.all.order(:subject, :course),
                            :id, :pretty_course, prompt: "Choose a Course"
      .grade
        = f.select :grade_c, Transcript::GRADES, prompt: "Grade"

    = f.submit "add to transcript"

  %ul.collapsible{ data: { collapsible: :accordion }, style: "margin-top: 35px;" }
    - @transcripts.each do |transcript|
      %li
        = link_to transcript_path(transcript),
                  method: :delete, data: { confirm: "Are you sure?"},
                  class: "remove-transcript" do
          .collapsible-header
            = transcript.course.pretty_course

= render "upload"
