<%= javascript_include_tag 'transcripts' %>

<%= form_for [@user, @transcript], remote: true do |f| %>
    <div hidden>
        <%= f.select(:course_id, options_for_select(@courses), {}, { id:'transcript_course_select'}) %>
        <%= f.select(:grade, options_for_select(["", "A","A-", "B+", "B", "B-", "C+", "C","C-", "D-","D","D+", "F"]), {}, { id:'grade_select'}) %>
    </div>
    
    <div layout vertical center>
        <div layout horizontal center-justified wrap>
            <div style="margin:5px">
                <paper-dropdown-menu label="Choose Course">
                    <paper-dropdown class="dropdown" id="transcript_course_dropdown">
                        <core-menu class="menu">
                            <% @courses.pop %>
                            <% @courses.each do |course| %>
                                <paper-item value=<%= course[1] %>><%= course[0] %></paper-item>
                            <% end %>
                        </core-menu>
                    </paper-dropdown>
                </paper-dropdown-menu>
            </div>
            
            <div style="margin:5px">
                <paper-dropdown-menu label="Choose Grade (optional)">
                    <paper-dropdown class="dropdown" id="grade_dropdown">
                        <core-menu class="menu">
                            <paper-item value="A">A</paper-item>
                            <paper-item value="A-">A-</paper-item>
                            <paper-item value="B+">B+</paper-item>
                            <paper-item value="B">B</paper-item>
                            <paper-item value="B-">B-</paper-item>
                            <paper-item value="C+">C+</paper-item>
                            <paper-item value="C">C</paper-item>
                            <paper-item value="C-">C-</paper-item>
                            <paper-item value="D+">D+</paper-item>
                            <paper-item value="D">D</paper-item>
                            <paper-item value="D-">D-</paper-item>
                            <paper-item value="F">F</paper-item>
                        </core-menu>
                    </paper-dropdown>
                </paper-dropdown-menu>
            </div>
        </div> 
        
        <div style="margin:5px;margin-top:19px;">
            <paper-button id='submit_taken_class_material'>Add Class to Transcript</paper-button>
            <%= f.submit 'Add Class to Transcript', id: 'submit_taken_class_button', hidden: "" %>
        </div>
    </div>
    
<% end %>
    
<div layout horizontal center-justified id="transcript_form_errors"></div>

<div layout horizontal center-justified>
    <div class="table-responsive-vertical shadow-z-1">
        <table id="table" class="table">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Grade</th>
                    <th>Remove</th>
                </tr>
            </thead>
            
            <tbody id="transcript_tbody">
                <% @transcripts.each_with_index do |course, index| %>
                    <tr id="transcript_<%= course.id %>">
                        <td data-title="Course"><%= course.course.subject + course.course.course.to_s + ": " + course.course.title %></td>
                        <td data-title="Grade"><%= course.grade %></td>
                        <td style="text-align:center;"><%= link_to 'Remove', user_transcript_path(@user, course), method: :delete, data: { confirm: 'Are you sure you want to remove this course?' }, remote: true, id: "transcript_remove_link" %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>