<div class="layout horizontal center-justified">
    <paper-material id="new_offering_shadow">

        <%= form_for(@offering, remote: true) do |f| %>
            <%= f.collection_select(:course_id, Course.all.order(:subject), :id, :pretty_course, prompt: "Choose a Course") %>

            <div id="offering_course_error_msg">
                <div id="offering_course_error_text" flex></div>
            </div>

            <%= f.collection_select(:days_time_id, DaysTime.all, :id, :pretty_day_time, prompt: "Choose a Day and Time") %>

            <div id="offering_daytime_error_msg">
                <div id="offering_daytime_error_text" flex>A day and time must be selected!</div>
            </div>

            <%= f.collection_select(:user_id, User.where(advisor: true), :id, :email, prompt: "Choose a Professor") %>

            <div id="offering_prof_error_msg">
                <div id="offering_prof_error_text" flex>A professor must be selected!</div>
            </div>
            
            <paper-input-container id="new-offering-section">
                <%= f.label :section, "Section Number (ex: W1, 02, etc)"  %>
                <%= f.text_field :section, is: "iron-input", maxlength: 2 %>
                <paper-input-char-counter></paper-input-char-counter>
                <paper-input-error></paper-input-error>
            </paper-input-container>
            
            <br><br><br>
            <div class="layout horizontal end-justified" style="color:#2196F3;">
                <paper-button id="cancel_offering_button">Cancel</paper-button>
                <paper-button id="create-offering">Submit</paper-button>
            </div>            
        <% end %>
    </paper-material>
</div>