= form_for @offering do |f|
  %h3.mdl-display-2.header
    - if @offering.new_record?
      New Offering
    - else
      Edit Offering

  = f.collection_select(:course_id, Course.all.order(:subject), :id, :pretty_course, prompt: "Choose a Course")
  = f.collection_select(:days_time_id, DaysTime.all, :id, :pretty_day_time, prompt: "Choose a Day and Time")
  = f.collection_select(:user_id, User.offering_advisors, :id, :professor, prompt: "Choose a Professor")
  = f.text_field :section, label: "Section Number (ex: W1, 02, etc)", maxlength: 2

  = f.submit
