<% content_for :title do %>
    Courses Offered <%= @active_semester.semester %>
<% end %>

<div layout horizontal center-justified>
    <div class="table-responsive-vertical shadow-z-1">
        <table id="table" class="table">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Instructor</th>
                    <th>Days</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Edit/Remove</th>
                </tr>
            </thead>
            
            <tbody>
                <% @offerings.each do |offering| %>
                    <tr>
                        <td data-title="Course"><%= offering.course.subject + offering.course.course.to_s + "-"+ offering.section + ": " + offering.course.title %></td>
                        <td data-title="Instructor"><%= offering.user.email[0..-10].capitalize %></td>
                        <td data-title="Days"><%= offering.days_time.days %></td>
                        <td data-title="Start Time"><%= offering.days_time.start_time %></td>
                        <td data-title="End Time"><%= offering.days_time.end_time %></td>
                        <td style="text-align:center;"><%= link_to "Edit", edit_offering_path(offering), id:"edit_offering_link" %> / <%= link_to "Remove", offering, method: :delete, data: { confirm: 'Are you sure you want to stop offering this course?' }, id:"stop_offering_link" %></td></tr> 
                <% end %>
            </tbody>
        </table>
    </div>
</div>

<%= link_to "Offer Another Course", new_offering_path, id: "new_offerings_link", hidden: "" %>
<paper-fab icon="add" title="Offer Another Course" id="new_offerings_material"></paper-fab>

<% if notice %>
    <paper-toast id="toast1" class="capsule" text="<%= notice %>" style="padding-right: 60px;color: #4CAF50" duration="10000" opened ></paper-toast>
<% end %>

<br><br><br>