<core-toolbar>
    <h2 style="line-height:1;">Courses Offered This Semester</h2>
</core-toolbar>

<table>
    <tr><th>Days</th><th style="width:30px;">Start Time</th><th style="width:30px;">End Time</th><th>Class</th><th>Instructor</th></tr>
<% @offerings.each do |offering| %>
    <tr>
        <td><%= offering.days_time.days %></td>
        <td><%= offering.days_time.start_time %></td>
        <td><%= offering.days_time.end_time %></td>
        <td><%= offering.course.title %></td>
        <td><%= offering.user.email[0..-10].capitalize %></td>
        <td><%= link_to "Stop Offering", offering, method: :delete, data: { confirm: 'Are you sure you want to stop offering this course?' } %></td></tr> 
<% end %>
</table>

<%= link_to "Offer Another Course", new_offering_path, id: "new_offerings_link", style: "display:none;" %>
<paper-fab icon="add" style="position:absolute;bottom:0;right:0;margin:10px;" title="Offer Another Course" id="new_offerings_material"></paper-fab>

<% if notice %>
    <paper-toast id="toast1" class="capsule" text="<%= notice %>" style="padding-right: 60px;" duration="10000" opened ></paper-toast>
<% end %>

<script>
    document.getElementById("new_offerings_material").addEventListener("click", function() {
        document.getElementById("new_offerings_link").click();
    });
</script>