- content_for :title, "#{@course.condensed_course} Offerings"
- content_for :back_url, course_path(@course)
- content_for :toolbar do
  - if can?(:import, Offering)
    = material_icon.file_upload.css_class("upload-offerings")
- content_for :active_tab, :courses

.layout.vertical.center
  .mdc-card.mt-2.container.white
    %section.mdc-card__primary
      %h1.mdc-card__title.mdc-card__title--large Offerings
    %section.mdc-card__supporting-text
      %ul.mdc-list
        - @offerings.each do |offering|
          %li.mdc-list-item
            %span.mdc-list-item__text
              %span.mdc-list-item__text__primary
                #{offering.section}-#{offering.user.professor}
              %span.mdc-list-item__text__primary.mdc-typography--caption
                = offering.days_time.pretty_day_time
            .mdc-list-item__end-detail.relative
              = material_icon.more_vert.css_class("menu-toggle")
              .mdc-simple-menu.offerings-simple-menu{ tabindex: -1 }
                .mdc-simple-menu__items.mdc-list{ "aria-hidden" => true, role: :menu }
                  = link_to edit_course_offering_path(@course, offering),
                      class: "mdc-list-item", role: :menuitem, tabindex: 0 do
                    = material_icon.mode_edit.css_class("mr-2")
                    Edit
                  = link_to course_offering_path(@course, offering),
                      class: "mdc-list-item", method: :delete,
                      data: { confirm: "Are you sure?" }, role: :menuitem,
                      tabindex: 0 do
                    = material_icon.delete.css_class("mr-2")
                    Delete

= fab new_course_offering_path(@course)

= render "offerings/upload"
