- content_for :title do
  Courses Offered #{@active_semester.semester}
.layout.horizontal.center-justified{ style: 'margin-top: 65px;'}
  %table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
    %thead
      %tr
        %th.mdl-data-table__cell--non-numeric
          Course
        %th.mdl-data-table__cell--non-numeric
          Instructor
        %th.mdl-data-table__cell--non-numeric
          Time
    %tbody
      - @offerings.each do |offering|
        %tr
          %td.mdl-data-table__cell--non-numeric
            = link_to edit_offering_path(offering) do
              = offering.course.subject + offering.course.course.to_s + "-"+ offering.section + ": " + offering.course.title
          %td.mdl-data-table__cell--non-numeric
            = offering.user.email[0..-10].capitalize
          %td.mdl-data-table__cell--non-numeric
            = offering.days_time.pretty_day_time

= link_to new_offering_path do
  %button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.new_category_fab
    %i.material-icons
      add
