<% content_for :title do %>
    Offer a Course
<% end %>

<div style="width:100%;" layout horizontal end-justified>
    <paper-fab icon="cloud-upload" style="margin-top:-28px;margin-right:25px;" id="upload-fab"></paper-fab>
</div>

<%= form_tag import_offerings_path, multipart: true, hidden: "" do %>
    <%= file_field_tag :offering_file, id: "upload_button" %>

    <%= submit_tag 'upload', id: "submit_upload_button" %>
<% end %>

<div layout horizontal center-justified>
    <paper-shadow id="new_offering_shadow">

        <%= form_for(@offering, remote: true) do |f| %>
        
            <div hidden>
                <% courses = (Course.all.order(:course).map { |course| [course.subject + course.course.to_s + ": " + course.title, course.id] }) << ["",-1] %>
                <%= f.select(:course_id, options_for_select(courses), {}, { id:'course_select' }) %>
            </div>
            
            
            <div hidden id="offering_course_error_msg" layout horizontal center-justified style="color:#d34336;font-size: 0.75em;">
                <div class="error" layout horizontal center-justified style="width:100%;max-width:260px;">
                  <div class="error-text" flex>A course must be selected!</div>
                  <core-icon class="error-icon" style="height:20px;width: 20px;" icon="warning"></core-icon>
                </div>
            </div>
            
            <div layout horizontal center-justified>     
                <paper-dropdown-menu label="Choose Course" style="margin-top:0;padding-top:0;">
                    <paper-dropdown class="dropdown" id="course_dropdown" style="height:185px;">
                        <core-menu class="menu">
                            <% courses.pop %>
                            <% courses.each do |course| %>
                                <paper-item value=<%= course[1] %>><%= course[0] %></paper-item>
                            <% end %>
                        </core-menu>
                    </paper-dropdown>
                </paper-dropdown-menu>
            </div>
            
            <div hidden>
                <% days_n_times = (DaysTime.all.map do |day_time| 
                        [day_time.days + ' at ' + day_time.start_time + ' to ' + day_time.end_time, day_time.id] 
                    end
                ) << ["",-1] %>
                <%= f.select(:days_time_id, options_for_select(days_n_times), {}, { id:'day_select' }) %>
            </div>
            
            <div id="offering_time_error_msg" layout horizontal center-justified style="color:#d34336;font-size: 0.75em;display:none;">
                <div class="error" layout horizontal center-justified style="width:100%;max-width:235px;">
                  <div class="error-text" flex>A day and time must be selected!</div>
                  <core-icon class="error-icon" style="height:20px;width: 20px;" icon="warning"></core-icon>
                </div>
            </div>
            
            <div layout horizontal center-justified>
                <paper-dropdown-menu label="Choose Time" style="width:100%;max-width:235px;margin-top:0;padding-top:0;">
                    <paper-dropdown class="dropdown" id="day_dropdown" style="width:100%;max-width:235px;height:147px;">
                        <core-menu class="menu">
                            <% days_n_times.pop %>
                            <% days_n_times.each do |days_n_time| %>
                                <paper-item value=<%= days_n_time[1] %>><%= days_n_time[0] %></paper-item>
                            <% end %>
                        </core-menu>
                    </paper-dropdown>
                </paper-dropdown-menu>
            </div>
            
            <div hidden>
                <% instructors = (User.where(advisor: true).map { |advisor| [advisor.email, advisor.id] }) << ["",-1] %>
                <%= f.select(:user_id, options_for_select(instructors), {}, { id:'advisor_select' }) %>
            </div>
    
            <div id="offering_user_error_msg" layout horizontal center-justified style="color:#d34336;font-size: 0.75em;display:none;">
                <div class="error" layout horizontal center-justified style="width:100%;max-width:200px;">
                  <div class="error-text" flex>An instructor must be selected!</div>
                  <core-icon class="error-icon" style="height:20px;width: 20px;" icon="warning"></core-icon>
                </div>
            </div>
            <div layout horizontal center-justified>
                <paper-dropdown-menu label="Choose Instructor" style="width:100%;max-width:200px;margin-top:0;padding-top:0;">
                    <paper-dropdown class="dropdown" id="advisor_dropdown" style="width:100%;max-width:200px;height:108px;">
                        <core-menu class="menu">
                            <% instructors.pop %>
                            <% instructors.each do |instructor| %>
                                <paper-item value=<%= instructor[1] %>><%= instructor[0] %></paper-item>
                            <% end %>
                        </core-menu>
                    </paper-dropdown>
                </paper-dropdown-menu>
            </div>
            
            <br>
            <div layout horizontal center-justified>
                <paper-button id="material_offer_course">offer course</paper-button>
            </div>
    
            <%= f.submit 'Offer Course', style: 'display:none;', id: 'actual_offer_course' %>
            
        <% end %>
    </paper-shadow>
</div>

<div id="offering_form_errors"></div>

<% if notice %>
    <paper-toast id="toast1" class="capsule" text="<%= notice %>" style="padding-right: 60px;color:#eeff41;" duration="10000" opened ></paper-toast>
<% end %>

<script>
  $("#drawer_core_menu")[0].selected = 3;
</script>