= f.password_field :password, full_width: true
= f.password_field :password_confirmation, full_width: true
.mt-2.mb-1
  = f.collection_select :major_id, Major.all, :id, :major, prompt: "Choose a Major"

.mt-2.mb-1
  = f.collection_select :advised_by, User.where(advisor: true),
                        :id, :email, prompt: "Choose an Advisor"
.mt-3.mb-1
  = f.label :minor, "Minor(s)"
  = f.select :minor, options_for_select(Major.all.map { |major| [major.major,
      major.id, { class: "mdc-list-item" }]}), {}, multiple: true,
      class: "mdc-multi-select mdc-list mt-1"

= render "placement_tests", f: f
