= f.password_field :password, full_width: true
= f.password_field :password_confirmation, full_width: true
.mt-2.mb-1
  = f.collection_select :major_id, Major.all, :id, :major, prompt: "Choose a Major"

.mt-2.mb-1
  = f.collection_select :advised_by, User.where(advisor: true),
                        :id, :email, prompt: "Choose an Advisor"
.mt-2.mb-1
  = f.collection_select :minor, Major.all, :id, :major, prompt: "minor(s)", multiple: true
= render "placement_tests", f: f
