- content_for :title, "Settings"
- content_for :back_url, root_url
- content_for :toolbar do
  .mdc-select.semester-toggle{ role: :listbox, tabindex: 0 }
    %span.mdc-select__selected-text Toggle Semester
    .mdc-simple-menu.mdc-select__menu
      %ul.mdc-list.mdc-simple-menu__items
        - Semester.find_each do |semester|
          %li.mdc-list-item{ role: :option, tabindex: 0,
                             aria: { selected: current_semester == semester } }
            = link_to semester.semester, semester, method: :put, style: "z-index: 100"


= form_for resource, as: resource_name, url: registration_path(resource_name),
           html: { method: :put, class: "layout vertical center-center" } do |f|
  .container.mt-3
    - if current_user.student?
      = render "student", f: f
    - elsif current_user.guest?
      = render "guest", f: f
    - elsif current_user.advisor?
      = render "advisor", f: f

  = f.submit "Update"
