<%= form_for(@user, remote: true) do |f| %>

  <paper-input-container id="new_user_fn">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, is: "iron-input" %>
  </paper-input-container>

  <paper-input-container id="new_user_ln">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, is: "iron-input" %>
  </paper-input-container>
  
  <paper-input-container id="new_user_email">
    <%= f.label :email %>
    <%= f.email_field :email, is: "iron-input" %>
    <paper-input-error></paper-input-error>
  </paper-input-container>
  
  <paper-input-container id="new_user_password">
    <%= f.label :password %>
    <%= f.password_field :password, is: "iron-input" %>
    <paper-input-error></paper-input-error>
  </paper-input-container>

  <paper-input-container id="new_user_password_confirm">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, is: "iron-input" %>
    <paper-input-error></paper-input-error>
  </paper-input-container>

  <%= f.select(:major_id, options_for_select(@majors), {include_blank: "Choose Major"}) %>

  <div id="major_signup_dropdown_error_msg">
    <div id="signup_dropdown_error_text" flex>A Major must be selected!</div>
  </div>
      
  
  
  <iron-collapse opened id="advisor_collapse">
    <%= f.select(:advised_by, options_for_select(@advisors), {include_blank: "Choose Advisor"}) %>
  </iron-collapse>

  <div id="advisor_signup_dropdown_error_msg">
    <div id="signup_dropdown_error_text" flex>An Advisor must be selected!</div>
  </div>
   
  <% if session[:user_id] && User.find_by(id: session[:user_id]).advisor %>
    <div class="layout horizontal flex" style="margin-top:28px;margin-left:2px;">
      <%= f.label :advisor, id: "advisor_label", class: "flex" %>
      <paper-checkbox id='advisor_checkbox'></paper-checkbox>
    </div>

    <%= f.check_box :advisor, id: "actual_advisor", hidden: "" %>
  <% end %>
  
  <br>
  <div style="width:100%;color:#2196F3;">
    <paper-button style="width:100%;"><input id="submit_signup" name="commit" type="submit" value="SIGN UP" style="color:#2196F3;"></paper-button>
  </div>

<% end %>