<%= form_for(@user, remote: true) do |f| %>
  <paper-input-decorator label="First Name">
    <%= f.text_field :first_name, is: 'core-input'%>
  </paper-input-decorator>
  
  <paper-input-decorator label="Last Name">
    <%= f.text_field :last_name, is: 'core-input'%>
  </paper-input-decorator>
  
  <paper-input-decorator label="Enter Email">
    <%= f.email_field :email, is: 'core-input' %>
  </paper-input-decorator>
  
  <paper-input-decorator label="Enter Password">
    <%= f.password_field :password, is: 'core-input' %>
  </paper-input-decorator>
  
  <paper-input-decorator label="Confirm Password">
    <%= f.password_field :password_confirmation, is: 'core-input'%>
  </paper-input-decorator>

  <div hidden>
    <%= f.select(:major_id, options_for_select(@majors), {}, { id:'actual_major_select' }) %>
  </div>

  <div id="major_signup_dropdown_error_msg" layout horizontal center-justified>
      <div id="signup_dropdown_major_error" layout horizontal center-justified>
        <div id="signup_dropdown__error_text" flex>A Major must be selected!</div>
        <core-icon class="error-icon" id="signup_dropdown_error_icon" icon="warning"></core-icon>
      </div>
  </div>
        
  <div layout horizontal start-justified>
    <paper-dropdown-menu label="Choose Major" id="major_dropdown_menu">
      <paper-dropdown class="dropdown" id="major_dropdown">
          <core-menu class="menu" id="major_core_menu">
            <% @majors.pop %>
            <% @majors.each do |major| %>
              <paper-item value=<%= major[1] %>><%= major[0] %></paper-item>
            <% end %>
          </core-menu>
      </paper-dropdown>
    </paper-dropdown-menu>
  </div>
  
  <div hidden>
    <%= f.select(:advised_by, options_for_select(@advisors), {}, { id:'actual_select' }) %>
  </div>

  <core-collapse opened allowOverflow id="advisor_collapse">
    <div id="advisor_signup_dropdown_error_msg" layout horizontal center-justified>
        <div id="signup_dropdown_advisor_error" layout horizontal center-justified>
          <div id="signup_dropdown__error_text" flex>You must choose an Advisor!</div>
          <core-icon class="error-icon" id="signup_dropdown_error_icon" icon="warning"></core-icon>
        </div>
    </div>
  
    <div layout horizontal start-justified>
      <paper-dropdown-menu label="Choose Advisor" id="advisor_dropdown_menu">
        <paper-dropdown class="dropdown constrained-height" id="advisor_dropdown">
            <core-menu class="menu" id="advisor_core_menu">
              <% @advisors.pop %>
              <% @advisors.each do |advisor| %>
                <paper-item value=<%= advisor[1] %>><%= advisor[0] %></paper-item>
              <% end %>
            </core-menu>
        </paper-dropdown>
      </paper-dropdown-menu>
    </div>
  </core-collapse>
  
  <% if session[:user_id] && User.find_by(id: session[:user_id]).advisor %>
    <div layout horizontal center style="margin-top:10px;">
      <%= f.check_box :advisor, hidden: "", id: 'actual_advisor' %>
      <div flex>Advisor</div>
      <paper-checkbox id='paper_advisor'></paper-checkbox>
    </div>
    <script>
      document.getElementById("paper_advisor").checked      = document.getElementById("actual_advisor").checked;
    </script>
  <% end %>
  
  <br>
  <div center-justified layout horizontal style="width:100%;color:#03A9F4;">
    <paper-button style="width:100%;"><input id="submit_signup" name="commit" type="submit" value="SIGN UP" style="color:#03A9F4;"></paper-button>
  </div>

<% end %>

<div id="ajax_errors"></div>