<% content_for :title do %>
  <% if @session_user.advisor and @session_user != @user%> 
    Editing <%= @user.first_name + " " + @user.last_name%>
  <% else %>
    Settings
  <% end %>
<% end %>

<div layout horizontal center-justified>
  <paper-shadow id="new_user_form_shadow">
    <% if @session_user.advisor and @user != @session_user %>
      <%= form_for(@user) do |f| %>
        <div>
          <%= f.select(:advised_by, options_for_select(@advisors, @user.advised_by), {}, {hidden: ""}) %>
        </div>
          
        <core-collapse opened allowOverflow id="advisor_collapse">
          <div layout horizontal start-justified style="padding-top:18;padding-bottom:13;">
            <paper-dropdown-menu style="width:100%;" label="Choose Advisor" id="advisor_dropdown_menu">
              <paper-dropdown class="dropdown constrained-height" id="advisor_dropdown">
                <core-menu class="menu" id="advisor_core_menu" selected="<%= @advisors.index([User.find(@user.advised_by).email, @user.advised_by]) %>"> 
                  <% @advisors.pop %>
                  <% @advisors.each do |advisor| %>
                    <paper-item value=<%= advisor[1] %>><%= advisor[0] %></paper-item>
                  <% end %>
                </core-menu>
              </paper-dropdown>
            </paper-dropdown-menu>
          </div>
        </core-collapse>
        
        <div layout horizontal center style="margin-top:10px;">
          <%= f.check_box :advisor, id: 'actual_advisor', hidden:"" %>
          <div flex>Advisor</div>
          <% if @user.advisor %>
            <paper-checkbox id='paper_advisor' checked></paper-checkbox>
          <% else %>
            <paper-checkbox id='paper_advisor'></paper-checkbox>
          <% end %>
        </div>

        <br>
        <div end-justified layout horizontal style="color:#2196F3;">
          <paper-button id="cancel_user_button">Cancel</paper-button>
          <paper-button><input id="submit_signup" name="commit" type="submit" value="UPDATE" style="color:#03A9F4;"></paper-button>
        </div>
      <% end %>
    <% else %>
      <%= form_for(@user, remote: true) do |f| %>
        <paper-input-decorator label="Enter New Password"  style="width:260px;" class="password_decorator">
          <%= f.password_field :password, is: 'core-input' %>
        </paper-input-decorator>
              
        <paper-input-decorator label="Confirm Password" style="width:260px;" class="password_decorator">
          <%= f.password_field :password_confirmation, is: 'core-input' %>
        </paper-input-decorator>
        
        <div hidden>
          <%= f.select(:major_id, options_for_select(@majors, @user.major)) %>
        </div>
      
        <div id="major_signup_dropdown_error_msg" layout horizontal center-justified>
            <div id="signup_dropdown_major_error" layout horizontal center-justified>
              <div id="signup_dropdown__error_text" flex>A Major must be selected!</div>
              <core-icon class="error-icon" id="signup_dropdown_error_icon" icon="warning"></core-icon>
            </div>
        </div>
              
        <div layout horizontal start-justified style="padding-top:9.75px;">
          <paper-dropdown-menu label="Choose Major" id="major_dropdown_menu">
            <paper-dropdown class="dropdown" id="major_dropdown">
                <core-menu class="menu" id="major_core_menu" selected="<%= @majors.index([@user.major.major, @user.major_id]) %>"> 
                  <% @majors.pop %>
                  <% @majors.each do |major| %>
                    <paper-item value=<%= major[1] %>><%= major[0] %></paper-item>
                  <% end %>
                </core-menu>
            </paper-dropdown>
          </paper-dropdown-menu>
        </div>
        
        <% if not @session_user.advisor %>
          <%= f.select(:minor, options_for_select(@minors, @user.minor), {}, { id:'actual_select_courses', multiple: true, size: 3 }) %>
        <% end %>
        <br>
        <div end-justified layout horizontal style="color:#2196F3;">
          <paper-button id="cancel_user_button">Cancel</paper-button>
          <paper-button><input id="submit_signup" name="commit" type="submit" value="UPDATE" style="color:#03A9F4;"></paper-button>
        </div>
        <script>
          $( document ).ready( function() {
            $("#drawer_core_menu")[0].setAttribute("selected", "8");
          });
        </script>
      <% end %>
    <% end %>

        
    <% if @user.errors.any? %>
      <div id="signup_errors" class="animated fadeInDown" layout horizontal center-justified>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div id="ajax_errors"></div>
  </paper-shadow>
</div>