<% content_for :title do %>
  <%= current_user.name + "'s "%>Advisees
<% end %>

<div class="horizontal wrap layout around-justified" style="margin-top: 5em;">

  <div class="layout vertical">
    <h2 class="layout horizontal center-justified">Advisees</h2>

    <paper-material class="user-index-column" elevation="2">
      <% if @advisees.empty? %>
        <paper-ripple></paper-ripple>
        <paper-item style="height:88px;" class="layout horizontal center-center"><b>You have no advisees</b></paper-item>
      <% else %>
        <% @advisees.each do |advisee| %>
          <paper-item style="height:72px;">
            <paper-item-body two-line class="layout vertical">
              <div><%= advisee.name %></div>
              <div secondary style="font-size: 14px;line-height: 20px;" class="layout horizontal">
                <%= link_to "Schedule", user_schedules_path(advisee), style: "text-decoration: none;color: #757575;" %> &nbsp | &nbsp
                <%= link_to 'Change Advisor', edit_user_path(advisee), style: "text-decoration: none;color: #757575;" %> &nbsp  | &nbsp
                <%= button_to 'Delete ', advisee, method: :delete, :onclick => "return confirm('Are you sure?')", style: "color: #757575;border:0;background:transparent;text-align:center;outline: none;border-radius: 3px;cursor:pointer;" %></div>
            </paper-item-body>
          </paper-item>

        <% end %>
      <% end %>
    </paper-material>
  </div>


  <div class="layout vertical">
    <h2 class="layout horizontal center-justified">All Other Students</h3>

    <paper-material class="user-index-column" elevation="2">
      <% if @all_others.empty? %>
        <paper-ripple></paper-ripple>
        <paper-item style="height:88px;text-align:center;" class="layout horizontal center-center"><b>No other students in <%= current_user.major.major %></b></paper-item>
      <% else %>
        <% @all_others.each do |student| %>
          <paper-item style="height:72px;">
            <paper-item-body two-line class="layout vertical">
              <div><%= student.first_name.capitalize + " " + student.last_name.capitalize %></div>
              <div secondary style="font-size: 14px;line-height: 20px;">
                <%= link_to "Schedule", user_schedules_path(student), style: "text-decoration: none;color: #757575;" %>
              </div>
            </paper-item-body>
          </paper-item>
        <% end %>
      <% end %>
    </paper-material>
  </div>
</div>
