- content_for :title do
  Students

%h3.mdl-display-2.header
  Students

.layout.vertical.center.users-index
  = render 'layouts/search', link: users_path

  %ul.collapsible.popout{ data: { collapsible: :accordion } }
    - @students.each do |student|
      %li{ class: "#{student.courses.to_a.empty? ? 'disabled' : ''}"}
        .collapsible-header.layout.horizontal.start-justified
          %div{ style: 'padding-left: 24px;'}
            = student.name
          .flex
          - if !student.courses.to_a.empty?
            - if student.schedule_approval
              %div.student-pending-link
                - if !student.schedule_approval.approved
                  Pending
                - else
                  Approved
            - else
              %div.student-schedule-link
                Schedule
          - else
            %div.student-no-courses-link
              No Courses

        - if !student.courses.to_a.empty?
          .collapsible-body
            %ul.demo-list-item.mdl-list
              - student.courses.each do |course|
                %li.mdl-list__item
                  %span.mdl-list__item-primary-content.center-text.layout.horizontal.center-justified
                    = course.pretty_course
              - if student.schedule_approval && !student.schedule_approval.approved
                .layout.horizontal.center-justified.approve-schedule
                  = link_to user_schedule_approval_path(student, student.schedule_approval), method: :patch, data: { confirm: 'Are you sure?' } do
                    .mdl-button.mdl-js-button
                      Approve

  .layout.horizontal.justified.paginated-links
    = link_to_previous_page @students, 'previous'
    .flex
    = link_to_next_page @students, 'next'
