- content_for :title do
  Students

%h3.mdl-display-2.header
  Students

.layout.vertical.center.users-index
  = render 'layouts/search', link: users_path

  %ul.collapsible.popout{ data: { collapsible: :accordion } }
    - @students.each do |student|
      %li
        .collapsible-header.layout.horizontal.start-justified
          %div{ style: 'padding-left: 24px;'}
            = student.name
          .flex
          - if !student.courses.to_a.empty?
            %div.student-schedule-link
              Schedule

        - if !student.courses.to_a.empty?
          .collapsible-body
            %ul.demo-list-item.mdl-list
              - student.courses.each do |course|
                %li.mdl-list__item
                  %span.mdl-list__item-primary-content.center-text.layout.horizontal.center-justified
                    = course.pretty_course

  .layout.horizontal.justified{ style: "width: 300px;max-width:90%;margin-top: 40px;"}
    = link_to_previous_page @students, 'Previous'
    .flex
    = link_to_next_page @students, 'Next'
