<% content_for :title do %>
    Classes In <%= @category.category %>
<% end %>

<%= form_for [@category, @new_category_course], remote: true do |f| %>
    
    <div hidden>
        <%= f.select(:course_id, options_for_select(@courses), {}, { id:'course_select' }) %>
    </div>
    
    <div layout vertical center>
        <div>
            <paper-dropdown-menu label="Choose Course">
                <paper-dropdown class="dropdown" id="course_dropdown">
                    <core-menu class="menu">
                        <% @courses.pop %>
                        <% @courses.each do |course| %>
                            <paper-item value=<%= course[1] %>><%= course[0] %></paper-item>
                        <% end %>
                    </core-menu>
                </paper-dropdown>
            </paper-dropdown-menu>
        </div>
        
        <div style="margin-top: 13px;">
            <paper-button id='submit_category_class_material'>Add Class to <%= @category.category %></paper-button>
            <%= f.submit 'Add Class to ' + @category.category , id: 'submit_category_class_button', hidden: "" %>
        </div>
    </div>
<% end %>

<div layout horizontal center-justified id="category_course_form_errors"></div>
<% if notice %>
 	 <paper-toast id="toast1" class="capsule" text="<%= notice %>" style="padding-right: 60px;color:#4CAF50;" duration="10000" opened ></paper-toast>
<% end %>

<div layout horizontal center-justified>
    <div class="table-responsive-vertical shadow-z-1">
        <table id="table" class="table">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Remove</th>
                </tr>
            </thead>
            
            <tbody id="category_course_tbody">
                <% @cc_courses.each do |course| %>
                    <tr>
                        <td style="text-align:center;"><%= course.course.subject + course.course.course.to_s + ": " + course.course.title %></td>
                        <td style="text-align:center;"><%= link_to 'Remove', curriculum_category_curriculum_category_course_path(@category, course), method: :delete, data: { confirm: 'Are you sure you want to remove this course?' }, id: "cur_cat_link" %></td>
                    </tr> 
                <% end %>
            </tbody>
        </table>
    </div>
</div>

<script>
  $("#drawer_core_menu")[0].selected = 5;
</script>