<% content_for :title do %>
    Classes In <%= @category.category %>
<% end %>

<br>
<div layout horizontal center-justified>
    <paper-shadow style="margin-left:10px;margin-right:10px;width:475px;background:#fafafa;border-radius:2px;padding:20px 20px;">
        <%= form_for [@category, @new_category_course] do |f| %>
            <% @cc_courses.each do |group_id, group_courses| %>
                <div class="category_course_group <%= group_id %>">
                    <%= f.label 'Group ' + group_id.to_s %>
                    <%= f.select(:course_id, options_for_select(@courses, group_courses.collect { |course| course.course.id }), {}, { class: "category_course_group_select", multiple: true, size: 5}) %>
                    <br>
                </div>
            <% end %>
            
            <% if @cc_courses.blank? %>
                <div class="category_course_group 1">
                    <%= f.label 'Group 1' %>
                    <%= f.select(:course_id, options_for_select(@courses), {}, { class: "category_course_group_select", multiple: true, size: 5}) %>
                    <br>
                </div>
            <% end %>
            
            <br>
            <div center-justified horizontal layout>
              <div flex>Logic Flag</div>
              <paper-toggle-button id="logic_flag_toggle" checked=<%= (@category.logic_flag == "t") ? "true" : "false" %>></paper-toggle-button>
              <%= check_box_tag :logic_flag, 'true', (@category.logic_flag == 'f') ? false : true, hidden: "" %>
            </div>
            
            <div layout center-justified horizontal style="color:#4CAF50;">
                <paper-button onclick="orClause()">ADD another group</paper-button>
            </div>
            
            <br><br>
            <div center-justified layout horizontal style="width:100%;color:#03A9F4;">
                <paper-button id='submit_category_class_material'>Submit course(s) for <%= @category.category %></paper-button>
                <%= f.submit 'Submit Classes to ' + @category.category , id: 'submit_category_class_button', hidden: "" %>
            </div>
                
            <script>
                var max_group_id = <%= @max_group_id %>;
                function orClause() {
                    max_group_id = max_group_id +1;
                    $(".category_course_group").last().after("<div class=\"category_course_group " + max_group_id + "\"><label>Group " + max_group_id + "</label><%= j f.select(:course_id, options_for_select(@courses), {}, { class: "category_course_group_select", multiple: true, size: 5}) %></div>");
                }
            </script>  
        <% end %>
    </paper-shadow>
</div>
<br><br>

<% if notice %>
 	 <paper-toast id="toast1" class="capsule" text="<%= notice %>" style="padding-right: 60px;color:#4CAF50;" duration="10000" opened ></paper-toast>
<% end %>

<% if @category.logic_flag == 'f'%>
<div vertical center layout>
    <% @category.curriculum_category_courses.group_by(&:course_group_id).each_with_index do |(group_id, group_courses), index| %>
        <paper-shadow style="background:#fafafa;border-radius:2px;">
            <% group_courses.each_with_index do |course, index2| %>
                <paper-item style="text-align:center;width:278px;" layout horizontal center-justified><%= course.course.subject + course.course.course.to_s + ": " + course.course.title %></paper-item>
                <% if index2 != group_courses.size - 1 %>
                    <paper-item noink style="width:278px;cursor:default;" layout horizontal center-justified>AND</paper-item>
                <% end %>
            <% end %>
        </paper-shadow>
        <% if index != @category.curriculum_category_courses.group_by(&:course_group_id).size - 1 %>
            <br>
            <div style="font-size:16px;"> - OR - </div>
        <% end %>
        <br>
    <% end %>
</div>

<% else %>
<div vertical center layout>
    <% @category.curriculum_category_courses.group_by(&:course_group_id).each_with_index do |(group_id, group_courses), index| %>
        <paper-shadow style="background:#fafafa;border-radius:2px;">
            <% group_courses.each_with_index do |course, index2| %>
                <paper-item style="text-align:center;width:278px;" layout horizontal center-justified><%= course.course.subject + course.course.course.to_s + ": " + course.course.title %></paper-item>
                <% if index2 != group_courses.size - 1 %>
                    <paper-item noink style="width:278px;cursor:default;" layout horizontal center-justified>OR</paper-item>
                <% end %>
            <% end %>
        </paper-shadow>
        <% if index != @category.curriculum_category_courses.group_by(&:course_group_id).size - 1 %>
            <br>
            <div style="font-size:16px;"> - AND - </div>
        <% end %>
        <br>
    <% end %>
</div>


<% end %>