<div style="margin:15px;" >
    <div layout horizontal center-justified style="margin-top:15px;color:rgba(0,0,0,.87)">
        <table id="advisor_quick_user_courses">
            <% if @offerings.empty? %>
                <tr><th colspan="3">No courses have been signed up for</th></tr>
            <% else %>
                <tr><th colspan="3"><%= @user.email %>'s Courses</th></tr>
                <% total_credits = 0 %>
                <% @offerings.each do |offering| %>
                    <tr>
                      <td><%= offering.course.subject + offering.course.course.to_s + "-" + offering.section + ": " +  offering.course.title %></td>
                      <td style="padding-left:20px;padding-right:20px;"><%= offering.course.credits %></td>
                      <td><%= offering.user.email[0..-10].capitalize %></td>
                    </tr>
                    <% total_credits += offering.course.credits %>
                <% end %>
                <tr id="total_credits_row"><td></td><td style="padding-left:20px;padding-right:20px;border-top: solid thin rgba(0,0,0,.87);"><%= total_credits%></td><td></td></tr>
            <% end %>
        </table>
    </div>
    
    <div layout horizontal center-justified style="margin-bottom:30px;margin-top:10px;" id="sch_approval_div">
        <% if @session_user.advisor %>
          <% if @session_user.id == @user.advised_by and ScheduleApproval.exists?(user: @user, semester: @active_semester) and not ScheduleApproval.where(user: @user, semester: @active_semester).take.approved %>
            <paper-button id="advisor_approve_schedule_button" raised style="background-color:#fafafa;font-weight:bold;"><core-icon style="color:#4CAF50;" icon="check"></core-icon><span style="color:#4CAF50;margin-top:4px;">&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Approve Schedule", user_schedule_approval_path(@user, ScheduleApproval.where(user: @user).take), :method => :patch, remote: true, id: 'advisor_approve_schedule_link' %></span></paper-button>
          <% elsif @session_user.id == @user.advised_by and ScheduleApproval.exists?(user: @user, semester: @active_semester) and ScheduleApproval.where(user: @user, semester: @active_semester).take.approved %>
            <paper-shadow z=0 style="border-radius:3px;padding:10px;background-color:#fafafa;color:#4CAF50;">Schedule Approved</paper-shadow>
          <% end %>
        
        <% else %>
        
          <% if (not ScheduleApproval.exists?(user: @user, semester: @active_semester)) and Schedule.where(user_id: @user.id, semester: @active_semester).exists? %>
            <%= form_for [@user, ScheduleApproval.new], remote: true do |f| %>
              <%= f.submit 'submit', hidden: '', id: 'submit_approval_button' %>
              <paper-button raised style="background-color:#fafafa;font-weight:bold;" id="submit_approval_paper_button"><core-icon style="color:#4CAF50;" icon="check"></core-icon><span style="color:#4CAF50;margin-top:4px;">&nbsp;&nbsp;&nbsp;&nbsp;Submit for Approval</span></paper-button>
            <% end %>
          <% elsif ScheduleApproval.exists?(user: @user, semester: @active_semester) and ScheduleApproval.where(user: @user, semester: @active_semester).take.approved %>
            <paper-shadow z=0 style="border-radius:3px;padding:10px;background-color:#fafafa;color:#4CAF50;">Schedule Approved</paper-shadow>
          <% elsif ScheduleApproval.exists?(user: @user, semester: @active_semester) %>
            <paper-shadow z=0 style="border-radius:3px;padding:10px;background-color:#fafafa;color:#e51c23;">Schedule Pending Approval</paper-shadow>
          <% end %>
        <% end %>
    </div>
    
    
    <div layout horizontal center-justified id="big_schedule_table">
        <% if not @session_user.advisor %>
            <core-tooltip position="top">
                <div tip>
                    <br>
                    <p style="text-align:center;font-weight:bold;">
                        By clicking a time slot you can indicate the times you are not available<br>
                        Clicking the name of the day means you are unavailble that entire day<br>
                        Clicking the time on the left means you are unavailable everyday at that time
                    </p>
                </div>
        <% end %>
        <paper-shadow style="padding-top:1px;padding-bottom:1px;background: #fafafa;border-radius:3px;">
        <table style="margin:15px;border-collapse:separate !important;border-spacing: 11px 3px !important;border:none;" id="schedule_calendar">
            
            <tr style="border:none;">
                <th></th>
                <th class="day" style="width:100px;font-size: 14px;">Monday</th>
                <th class="day" style="width:100px;font-size: 14px;">Tuesday</th>
                <th class="day" style="width:100px;font-size: 14px;">Wednesday</th>
                <th class="day" style="width:100px;font-size: 14px;">Thursday</th>
                <th class="day" style="width:100px;font-size: 14px;">Friday</th>
            </tr>
            
            <% begin_time = Time.new(2000, 1, 1, 8) %>
            <% end_time = Time.new(2000, 1, 1, 21,30) %>
            <% while begin_time<=end_time %>
                <tr>
                    <td class="time_slot"><%= begin_time.strftime("%l:%M%p") %></td>
                    <td data-title="<%= begin_time.strftime("%l:%M%p") %>" class="day_time_slot M<%= begin_time.strftime("%l%M%p").strip %> _<%= @work_time_slots.where(days: "M", start_time: begin_time ).take.id %>" id="_<%= @work_time_slots.where(days: "M", start_time: begin_time ).take.id %>"></td>
                    <td data-title="<%= begin_time.strftime("%l:%M%p") %>" class="day_time_slot T<%= begin_time.strftime("%l%M%p").strip %> _<%= @work_time_slots.where(days: "T", start_time: begin_time ).take.id %>" id="_<%= @work_time_slots.where(days: "T", start_time: begin_time ).take.id %>"></td>
                    <td data-title="<%= begin_time.strftime("%l:%M%p") %>" class="day_time_slot W<%= begin_time.strftime("%l%M%p").strip %> _<%= @work_time_slots.where(days: "W", start_time: begin_time ).take.id %>" id="_<%= @work_time_slots.where(days: "W", start_time: begin_time ).take.id %>"></td>
                    <td data-title="<%= begin_time.strftime("%l:%M%p") %>" class="day_time_slot R<%= begin_time.strftime("%l%M%p").strip %> _<%= @work_time_slots.where(days: "R", start_time: begin_time ).take.id %>" id="_<%= @work_time_slots.where(days: "R", start_time: begin_time ).take.id %>"></td>
                    <td data-title="<%= begin_time.strftime("%l:%M%p") %>" class="day_time_slot F<%= begin_time.strftime("%l%M%p").strip %> _<%= @work_time_slots.where(days: "F", start_time: begin_time ).take.id %>" id="_<%= @work_time_slots.where(days: "F", start_time: begin_time ).take.id %>"></td>
                </tr>
                <% begin_time += 1800 %>
            <% end %>
        
        </table>
        </paper-shadow>
        <% if not @session_user.advisor %>
            </core-tooltip>
        <% end %>
    </div>
</div>

<div id="small_schedule_table">
    <% if not @session_user.advisor %>
        <div>
            <br>
            <p style="text-align:center;font-weight:bold;">
                By clicking a time slot you can indicate the times you are not available<br>
                Clicking the name of the day means you are unavailble that entire day<br>
            </p>
        </div>
    <% end %>
    <core-animated-pages selected="0" transitions="slide-from-right" id="baluga4">
        <% days_of_week_names = [["Monday","M"], ["Tuesday", "T"], ["Wednesday", "W"], ["Thursday", "R"], ["Friday", "F"]] %>
        <% days_of_week_names.each_with_index do |day_of_week, index| %>
            <section>
                <div layout horizontal style="margin:10px;margin-left:0;margin-right:0;">
                    <% if index != 0 %>
                        <div>
                            <paper-button raised class="prev_day">
                                <core-icon icon="chevron-left"></core-icon>
                                <%= days_of_week_names[index-1][0] %>
                            </paper-button>
                        </div>
                    <% end %>
                    <div flex></div>
                    <% if index != 4 %>
                        <div>
                            <paper-button raised class="next_day">
                                <%= days_of_week_names[index+1][0] %>
                                <core-icon icon="chevron-right"></core-icon>
                            </paper-button>
                        </div>
                    <% end %>
                </div>
                
                <div layout horizontal center-justified center>
                    <paper-shadow style="background: #fafafa;border-radius:3px;padding-top:7px;padding-bottom:7px;max-width: 370px;margin-right:3.77px;margin-left:3.77px;">
                        <h2 class="day" layout horizontal center-justified><%= day_of_week[0] %></h2>
                        <table style="border-collapse:separate !important;border-spacing: 11px 3px !important;border:none;">
                            <% begin_time = Time.new(2000, 1, 1, 8) %>
                            <% end_time = Time.new(2000, 1, 1, 21,30) %>
                            <% while begin_time<=end_time %>
                                <tr>
                                    <td class="time_slot"><%= begin_time.strftime("%l:%M%p") %></td>
                                    <td class="day_time_slot <%= day_of_week[1]%><%= begin_time.strftime("%l%M%p").strip %> _<%= @work_time_slots.where(days: day_of_week[1], start_time: begin_time ).take.id %>" id="_<%= @work_time_slots.where(days: day_of_week[1], start_time: begin_time ).take.id %>"></td>
                                </tr>
                                <% begin_time += 1800 %>
                            <% end %>
                        </table>
                    </paper-shadow>
                </div>
            </section>
        <% end %>
    </core-animated-pages>
</div>


<%= form_for [@user, @new_work_schedule], remote: true do |f| %>
    <%= f.select(:work_days_time_id, options_for_select(@work_time_slots.pluck(:id)), {}, { multiple: true, size: 6, hidden: ''}) %>
    <%= f.submit 'Submit Work Schedule', id: "submit_work_schedule_button", hidden: '' %>  
<% end %>

<div id="approval_notices"></div>
<core-media-query id="media_query_schedule" query="max-width: 750px"></core-media-query>

    
<!--JavaScript to make the weekly schedule-->
<script>
    <% @work_schedules.each do |work_schedule| %>
        $("._<%= work_schedule.work_days_time.id %>").addClass('selected_work_day_time_slot');
        $("#work_schedule_work_days_time_id")[0].options[$("#work_schedule_work_days_time_id option[value=" + <%= work_schedule.work_days_time_id %> + "]").index()].selected = true;
    <% end %>
    
    <% @offerings.each do |offering| %>
        <% offering.days_time.days.split("").each do |letter| %>
            <% begin_time = Time.strptime(offering.days_time.start_time, "%l:%M %P") %>
            <% end_time = Time.strptime(offering.days_time.end_time, "%l:%M %P") %>
            <% index = 0 %>
            
            <% if (end_time - 15.minutes).min == 0 or (end_time - 15.minutes).min == 30 %>
                <% end_time -= 15.minutes %>
                <% flag = true %>
            <% end %>
            
            <% while begin_time<end_time %>
                <% if index == 0 %>
                    $(".<%= letter %><%= begin_time.strftime("%l%M%p").strip %>").html("<%= offering.course.subject + offering.course.course.to_s %>" + "<span class='small_schedule_course_title'>: " + "<%= offering.course.title %>"+ "</span>");
                
                <% elsif index == 1 %>
                    $(".<%= letter %><%= begin_time.strftime("%l%M%p").strip %>").html("<%= offering.user.email[0..-10].capitalize %>");
                <% end %>
                $(".<%= letter %><%= begin_time.strftime("%l%M%p").strip %>").addClass(" selected_class");
                <% begin_time += 1800 %>
                <% index += 1 %>
            <% end %>
            <% if flag %>
               $(".<%= letter %><%= begin_time.strftime("%l%M%p").strip %>").addClass( " half_time_slot");
            <% end %>
        <% end %>
    <% end %>
</script>