- content_for :title, "Schedule"
- content_for :active_tab, :schedule

.horizontal.wrap.layout.around-justified.mt-3
  .container
    - @incomplete_categories.each do |schedules_category|
      .layout.vertical.center.mx-1
        .mdc-typography--subheading2.w-100
          = schedules_category.curriculum_category.display
        .mdc-card.white.w-100.mb-5
          .mdc-list
            - if schedules_category.category_offerings.blank?
              .mdc-list-item.danger-text No courses are being offered
            - else
              - schedules_category.category_offerings_by_course.each do |course, category_offerings|
                = link_to course, class: "mdc-list-item w-100 with-ripple" do
                  .mdc-list-item__text
                    .mdc-list-item__text__primary= course.pretty_course
                  = material_icon.chevron_right.css_class("mdc-list-item__end-detail")
                - category_offerings.each do |category_offering|
                  .layout.horizontal.center{ data: { offering_id: category_offering.offering_id } }
                    - if @schedules.exclude?(category_offering.offering_id)
                      = link_to schedules_path(offering_id: category_offering.offering_id),
                                method: :post, remote: true, class: "mdc-list-item" do
                        = mdc_check_box_tag(category_offering.hidden)
                    - else
                      = link_to schedule_path(category_offering.offering), method: :delete,
                          remote: true, class: "mdc-list-item" do
                        = mdc_check_box_tag(false, true)
                    = category_offering.offering.display
            - if schedules_category.courses.present?
              .mdc-list-divider{ role: :separator }
            - schedules_category.courses.each do |course|
              .mdc-list-item
                .mdc-list-item__text= course.pretty_course

  .container
    - @completed_categories.each do |schedules_category|
      .mdc-typography--subheading2.layout.horizontal.start-justified.w-100
        = schedules_category.curriculum_category.display
        .flex
        .success-text Completed
      .mdc-card.white.mb-5
        .mdc-list
          - schedules_category.courses.each do |course|
            .mdc-list-item
              .mdc-list-item__text= course.pretty_course

- if approve_schedule?
  = link_to user_schedule_approvals_path(current_user),
      class: "mdc-fab material-icons new-fab app-fab--absolute",
      "data-mdc-auto-init" => "MDCRipple",
      method: :post, data: { confirm: "Send to advisor for approval?" } do
    %span.mdc-fab__icon check
