= content_for :title do
  Schedule

%h3.mdl-display-2.header
  Schedule

.horizontal.wrap.layout.around-justified
  %div
    - current_user.incomplete.each do |category, offerings|
      .layout.vertical.center
        %ul.collapsible{ data: { collapsible: :accordion } }
          %li
            .collapsible-header{style: 'cursor:default;'}
              %h4{style: 'cursor:default;'}
                = category.category
                = ("- " + category.major.major + " Minor") if category.minor
              %div{:class => "#{"hidden" if !offerings.empty?}", :style => "color:#EF5350;text-align:center;font-size: 15px;font-weight: 400;"}
                Currently no courses are being offered that will fulfill this category
          - offerings.group_by(&:course).each do |course, course_offerings|
            %li
              .collapsible-header= course.pretty_course
              .collapsible-body
                - course_offerings.each do |offering|
                  .layout.horizontal.center-center{:style => "height:50px;", id: "offering_#{offering.id}"}
                    - if !@schedules.to_a.include? offering
                      = link_to schedules_path(offering_id: offering.id), method: :post, remote: true do
                        %label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect
                          %input.mdl-checkbox__input{:type => "checkbox"}
                          %span.mdl-checkbox__label
                            = offering.days_time.days
                            from #{offering.days_time.start_time.split(" ")[0] + "-" + offering.days_time.end_time if offering.days_time.start_time != nil} Prof. #{offering.user.last_name.capitalize}
                    - else
                      = link_to schedule_path(current_user.schedules.find_by(offering: offering)), method: :delete, remote: true do
                        %label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect
                          %input.mdl-checkbox__input{:type => "checkbox", checked: true}
                          %span.mdl-checkbox__label
                            = offering.days_time.days
                            from #{offering.days_time.start_time.split(" ")[0] + "-" + offering.days_time.end_time if offering.days_time.start_time != nil} Prof. #{offering.user.last_name.capitalize}

          - current_user.complete.delete(category).each do |set, set_courses|
            - set_courses.each do |course|
              %li
                .collapsible-header{:style => "color:#4CAF50;"}= course.pretty_course
  %div
    - current_user.complete.each do |category, courses|
      .layout.vertical.center
        %ul.collapsible{ data: {collapsible: :accordion } }
          %li
            .collapsible-header{ style: 'cursor: initial;' }
              %h4{ style: 'cursor: initial;' }
                = category.category
                = ("- " + category.major.major + " Minor") if category.minor
              %div{:style => "color:#4CAF50;text-align:center;font-size: 15px;font-weight: 400;cursor:initial;"} Completed
          - courses.each do |course|
            %li
              .collapsible-header{:style => "font-size: 15px;font-weight: 400;cursor:initial;"}
                = course.pretty_course
