<% content_for :title do %>
    <%= @user.first_name.capitalize + " " + @user.last_name.capitalize %>'s Schedule
<% end %>

<core-overlay backdrop transition="core-transition-top" id="new_schedule_modal" style="background:#f3f3f3;box-sizing: border-box;-moz-box-sizing: border-box;webkit-user-select: none;-moz-user-select: none;padding:20px 20px;outline: 1px solid rgba(0,0,0,0.2);box-shadow: 0 4px 16px rgba(0,0,0,0.2);">
    <h3>To Upload an Updated Transcript:</h3>
    <ul>
        <li>Log in to VIP and go to DegreeWorks</li>
        <li>Click the "Class History" link</li>
        <li>Once the new window opens, <br>save this page as  a PDF</li>
        <li>When uploading select this PDF</li>
    </ul>
    <div> 
        &nbsp;&nbsp;&nbsp;* No grades or SAT scores will be saved
    </div>
    <br>
    <div layout end-justified horizontal style="color:#03A9F4;">
        <paper-button core-overlay-toggle>Cancel</paper-button>
        <paper-button id="upload_transcript_button">Upload PDF</paper-button>
    </div>

    <%= form_tag import_user_transcripts_path, multipart: true, remote: true, id: "new_transcript_pdf" do %>
        <%= file_field_tag :transcript_file, id: "upload_transcript_link", hidden: "" %>
    <% end %>
</core-overlay>

<core-overlay backdrop id="schedule_bootup" opened style="overflow-x:hidden;height:400px;" autoCloseDisabled>
    <div class="loader2">
      <svg class="circular">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
      </svg>
    </div>
</core-overlay>

<% if not @session_user.advisor %>
    <%= render "users/student_settings" %>
<% end %>

<core-animated-pages id="baluga3" selected="1" transitions="slide-from-right">
    <!--Transcript page that is loaded in via ajax after the page loads-->
  	<section id="section0">
  	    <core-ajax id="transcript_ajax"
            auto
            url="<%= user_transcripts_path(@user) %>"
            handleAs="text"></core-ajax>
  	</section>

  	<section id="section1">
        <%= render "index" %>
  	</section>
  	
  	<!--New Schedules page that is loaded via ajax after page loads-->
  	<section id="section2"><div id="temp_replace">
	    <core-ajax id="new_schedule_ajax"
            auto
            url="<%= new_user_schedule_path(@user) %>"
            handleAs="text"></core-ajax>
  	</div></section>
  	
</core-animated-pages>

<div id="toast_div"></div>

<% if notice %>
    <paper-toast id="toast1" class="capsule" text="<%= notice %>" style="padding-right: 60px;" duration="10000" opened ></paper-toast>
<% end %>

    
<script>
    $('#new_transcript_pdf').fileupload({
        dataType: 'script',
        add: function (e, data) {
            types = /(\.|\/)(pdf)$/i;
            file = data.files[0];
            if (types.test(file.type) || types.test(file.name)) {
                $("#new_schedule_modal")[0].toggle();
                $("#whole_screen_uploader").fadeIn();
                data.submit();
            } else { 
                $("#toast_div").html("<paper-toast class=\"capsule\" text=\"Only PDF files are accepted!\" style=\"padding-right: 60px;color:#eeff41;\" duration=\"10000\" opened ></paper-toast>");
            }
        }
    });
</script>