<% content_for :title do %>
    <%= @user.first_name.capitalize + " " + @user.last_name.capitalize %>'s Schedule
<% end %>

<div style="width:100%;" layout horizontal end-justified>
    <paper-fab icon="cloud-upload" style="margin-top:-28px;margin-right:25px;" id="fab_new_schedule"></paper-fab>
</div>

<core-overlay backdrop transition="core-transition-top" id="new_schedule_modal" style="background:#f3f3f3;box-sizing: border-box;-moz-box-sizing: border-box;webkit-user-select: none;-moz-user-select: none;padding:20px 20px;outline: 1px solid rgba(0,0,0,0.2);box-shadow: 0 4px 16px rgba(0,0,0,0.2);">
    <h3>To Upload an Updated Transcript:</h3>
    <ul>
        <li>Log in to VIP and go to DegreeWorks</li>
        <li>Click the "Class History" link</li>
        <li>Once the new window opens, <br>save this page as  a PDF</li>
        <li>When uploading select this PDF</li>
    </ul>
    <br>
    <div layout end-justified horizontal style="color:#03A9F4;">
        <paper-button core-overlay-toggle>Cancel</paper-button>
        <paper-button id="upload_transcript_button">Upload PDF</paper-button>
    </div>

    <%= form_tag import_user_transcripts_path, multipart: true, remote: true, id: "new_transcript_pdf" do %>
        <%= file_field_tag :transcript_file, id: "upload_transcript_link", hidden: "" %>
    <% end %>

</core-overlay>

<% if not @session_user.advisor %>
    <%= render "users/student_settings" %>
<% end %>

<core-animated-pages id="baluga3" selected="1" transitions="slide-from-right">
    <!--Transcript page that is loaded in via ajax after the page loads-->
  	<section id="section0"></section>

  	<section id="section1">
        <%= render "index" %>
  	</section>
  	
  	<!--New Schedules page that is loaded via ajax after page loads-->
  	<section id="section2"><div id="temp_replace"></div></section>
  	
</core-animated-pages>

<div id="toast_div"></div>

<% if notice %>
    <paper-toast id="toast1" class="capsule" text="<%= notice %>" style="padding-right: 60px;" duration="10000" opened ></paper-toast>
<% end %>


<script>
    $(function() {
        $.ajax({
          url: "<%= new_user_schedule_path(@user) %>",
        }).done(function(html) {
          $("#temp_replace").append(html);
        });
        
        $.ajax({
          url: "<%= user_transcripts_path(@user) %>",
        }).done(function(html) {
          $("#section0").append(html);
        });
    }); 

    $('#new_transcript_pdf').fileupload({
        dataType: 'script',
        add: function (e, data) {
            types = /(\.|\/)(pdf)$/i;
            file = data.files[0];
            if (types.test(file.type) || types.test(file.name)) {
                $("#new_schedule_modal")[0].toggle();
                $("#whole_screen_uploader").fadeIn();
                data.submit();
            } else { 
                $("#toast_div").html("<paper-toast class=\"capsule\" text=\"Only PDF files are accepted!\" style=\"padding-right: 60px;color:#eeff41;\" duration=\"10000\" opened ></paper-toast>");
            }
        }
    });
</script>