<% content_for :title do %>
    <%= @user.email %>'s Schedule
<% end %>

<div style="width:100%;" layout horizontal end-justified>
    <paper-fab icon="cloud-upload" style="margin-top:-28px;margin-right:25px;" id="fab_new_schedule"></paper-fab>
</div>

<core-overlay backdrop transition="core-transition-top" id="new_schedule_modal" style="background:#f3f3f3;box-sizing: border-box;-moz-box-sizing: border-box;webkit-user-select: none;-moz-user-select: none;padding:20px 20px;outline: 1px solid rgba(0,0,0,0.2);box-shadow: 0 4px 16px rgba(0,0,0,0.2);">
    <p>To Upload an Updated Transcript:</p>
    <ul>
        <li>Log in to VIP and go DegreeWorks</li>
        <li>Click the "Class History" link</li>
        <li>In the the new window that just opened press "ctrl + p"</li>
        <li>Save this page as a PDF</li>
        <li>When uploading select this PDF</li>
    </ul>
    <div layout center-justified horizontal>
        <paper-button id="upload_transcript_button">Upload PDF</paper-button>
    </div>

    <%= form_tag import_user_transcripts_path, multipart: true do %>
        <%= file_field_tag :transcript_file, id: "upload_transcript_link", hidden: "" %>
        <%= submit_tag 'upload', id: "submit_upload_transcript_button", hidden: "" %>
    <% end %>
</core-overlay>

<%= render "users/change_password" %>
<%= render "users/minor" %>

<core-animated-pages id="baluga3" selected="1" transitions="slide-from-right">
    <!--Transcript page that is loaded in via ajax after the page loads-->
  	<section id="section0"></section>

  	<section id="section1">
        <%= render "index" %>
  	</section>
  	
  	<!--New Schedules page that is loaded via ajax after page loads-->
  	<section id="section2"><div id="temp_replace"></div></section>
  	
</core-animated-pages>

<div id="toast_div"></div>

<% if notice %>
    <paper-toast id="toast1" class="capsule" text="<%= notice %>" style="padding-right: 60px;" duration="10000" opened ></paper-toast>
<% end %>


<script>
    $(function() {
        $.ajax({
          url: "<%= new_user_schedule_path(@user) %>",
        }).done(function(html) {
          $("#temp_replace").append(html);
        });
        
        $.ajax({
          url: "<%= user_transcripts_path(@user) %>",
        }).done(function(html) {
          $("#section0").append(html);
        });
    }); 
</script>