<% content_for :title do %>
    <%= @user.first_name.capitalize + " " + @user.last_name.capitalize %>'s Schedule
<% end %>

<paper-dialog id="upload-transcript-dialog" entry-animation="scale-up-animation" exit-animation="scale-down-animation">
    <div id="upload-transcript-header" class="layout horizontal center-center">To Upload an Updated Transcript</div>
    <ol  id="upload-transcript-list" style="margin-left: 24px;">
        <li>Log in to VIP and go to DegreeWorks</li>
        <li>Click the "Class History" link</li>
        <li>Once the new window opens, <br>press CTRL+A to select all the text</li>
        <li>Paste this text in the space below</li>
    </ol>
    <div id="upload-transcript-asterisk">
        ** No grades or SAT scores will be saved
    </div>
    
    <%= form_tag(import_user_transcripts_path(@user), remote: true) do %>
      <paper-input-container id="upload-transcript-section">
        <%= label_tag "Paste Transcript Here" %>
        <%= text_area_tag 'Transcript',nil, style: "width:100%;", is: "iron-input" %>
      </paper-input-container>
    <% end %>
    
    <div class="layout end-justified horizontal" style="color:#03A9F4;">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button id="upload_transcript_button">Upload</paper-button>
    </div>
</paper-dialog>

<% if not @session_user.advisor %>
    <%= render "users/student_settings" %>
<% end %>

<% if @user.pt_a == nil or @user.pt_b == nil or @user.pt_c == nil or @user.pt_d == nil %>
    <%= render "users/placement_test" %>
<% end %>

<neon-animated-pages id="baluga3" selected="1" class="flex" entry-animation="slide-from-right-animation" exit-animation="slide-left-animation">
  	 <neon-animatable id="transcripts-animate">
  	    <%= render "transcripts/index" %>
  	 </neon-animatable>

     <neon-animatable id="schedules-animate">
        <%= render 'index' %>
     </neon-animatable>

     <neon-animatable id="new-schedule-animate">
      <%= render "new" %>
     </neon-animatable>
</neon-animated-pages>

<div id="transcript-notice">
    <paper-toast id="transcript-notice-toast" text="<%= notice %>" style="z-index: 13;" class="fit-bottom layout horizontal center-center"></paper-toast>
</div>

