<% content_for :title do %>
    <%= @user.first_name.capitalize + " " + @user.last_name.capitalize %>'s Schedule
<% end %>

<core-overlay backdrop transition="core-transition-top" id="new_schedule_modal" style="background:#f3f3f3;box-sizing: border-box;-moz-box-sizing: border-box;webkit-user-select: none;-moz-user-select: none;padding:20px 20px;outline: 1px solid rgba(0,0,0,0.2);box-shadow: 0 4px 16px rgba(0,0,0,0.2);">
    <h3>To Upload an Updated Transcript:</h3>
    <ul>
        <li>Log in to VIP and go to DegreeWorks</li>
        <li>Click the "Class History" link</li>
        <li>Once the new window opens, <br>press CTRL+A to select all the text</li>
        <li>Paste this text in the space below</li>
    </ul>
    <div> 
        &nbsp;&nbsp;&nbsp;* No grades or SAT scores will be saved
    </div>
    <br>
    
    <%= form_tag(import_user_transcripts_path(@user), remote: true) do %>
        <paper-input-decorator label="Paste Text Here" class="password_decorator">
          <paper-autogrow-textarea>
            <%= text_area_tag 'Transcript',nil, style: "width:100%;margin:0px;height:75px;overflow-x:hidden;"  %>
          </paper-autogrow-textarea>
        </paper-input-decorator>
        
        <%= submit_tag "upload", id: "upload_transcript_link", hidden: "" %>
    <% end %>
    
    <div layout end-justified horizontal style="color:#03A9F4;">
        <paper-button core-overlay-toggle>Cancel</paper-button>
        <paper-button id="upload_transcript_button">Upload</paper-button>
    </div>
</core-overlay>

<core-overlay backdrop id="schedule_bootup" opened style="overflow-x:hidden;height:400px;" autoCloseDisabled>
  <div layout horizontal center-justified>
    <div class="loading"></div>
  </div>
</core-overlay>

<% if not @session_user.advisor %>
    <%= render "users/student_settings" %>
<% end %>

<core-animated-pages id="baluga3" selected="1" transitions="slide-from-right">
    <!--Transcript page that is loaded in via ajax after the page loads-->
  	<section id="section0">
  	    <core-ajax id="transcript_ajax"
            auto
            url="<%= user_transcripts_path(@user) %>"
            handleAs="text"></core-ajax>
  	</section>

  	<section id="section1">
        <%= render "index" %>
  	</section>
  	
  	<!--New Schedules page that is loaded via ajax after page loads-->
  	<section id="section2"><div id="temp_replace">
	    <core-ajax id="new_schedule_ajax"
            auto
            url="<%= new_user_schedule_path(@user) %>"
            handleAs="text"></core-ajax>
  	</div></section>
  	
</core-animated-pages>

<div id="toast_div"></div>

<% if notice %>
    <paper-toast id="toast1" class="capsule" text="<%= notice %>" style="padding-right: 60px;" duration="10000" opened ></paper-toast>
<% end %>