<% content_for :title do %>
    Majors
<% end %>

<div layout horizontal center-justified id="remove_course_div">
    <paper-shadow id="remove_course_shadow_div">
        <% @majors.each do |major| %>
            <paper-item noink style="text-align:start;cursor:default;color:#212121;">
                
                <div flex>
                    <%= major.major %>
                </div>
                
                <paper-menu-button>
                    <paper-icon-button icon="more-vert" noink></paper-icon-button>
                    <paper-dropdown class="dropdown" halign="right" valign="top" layered>
                        <style>
                            .edit_major_link {
                            	color: #4a89dc;
                            	text-decoration: none;
                            	transition: all .2s ease;
                            }
                            
                            .edit_major_link:hover {
                            	color: #4CAF50;
                            }
                            
                            .delete_major_link {
                            	color: #4a89dc;
                            	text-decoration: none;
                            	transition: all .2s ease;
                            }
                            
                            .delete_major_link:hover {
                            	color: #F44336;
                            }
                            .delete_button {  
                                display: inline-block;
                                position: relative;
                                border: 0;
                                background: transparent;
                                text-align: center;
                                font: inherit;
                                outline: none;
                                border-radius: 3px;
                                cursor: pointer;
                                font-family: 'RobotoDraft', sans-serif;
                            }
                        </style>
                        <core-menu class="menu">
                            <paper-item><core-icon icon="create"></core-icon>&nbsp;&nbsp;&nbsp;<%= link_to 'Edit', edit_major_path(major), class: "edit_major_link"  %></paper-item>
                            <paper-item><core-icon icon="close"></core-icon>&nbsp;&nbsp;&nbsp;<%= button_to "Delete", major, method: :delete, onclick: "confirm('Are you sure?');", class: "delete_major_link delete_button" %></paper-item>
                        </core-menu>
                    </paper-dropdown>
                </paper-menu-button>
                
            </paper-item>
        <% end %>
    </paper-shadow>
</div>
<br><br><br>
<% if notice %>
 	 <paper-toast id="toast1" class="capsule" text="<%= notice %>" style="padding-right: 60px;color: #4CAF50;" duration="10000" opened ></paper-toast>
<% end %>

<%= link_to "Create Major", new_major_path, id: "new_major_link", hidden: ""%>
<paper-fab icon="add" title="Create a Major" id="new_major_material"></paper-fab>