- content_for :title, "Majors"
- content_for :back_url, majors_path
- content_for :active_tab, :majors

.layout.vertical.center.mt-3
  .container
    .mdc-card.white
      %section.mdc-card__primary
        %h1.mdc-card__title.mdc-card__title--large.layout.horizontal
          = @major.major
          .flex
          = overflow_menu edit_link: edit_major_path(@major),
                          destroy_link: major_path(@major)

      %section.mdc-card__actions
        = link_to "New Category", new_major_curriculum_category_path(@major),
            class: "mdc-button mdc-button--compact mdc-card__action"

  - if @major.major_categories.empty?
    .mdc-typography--subheading2.mt-5 No Major Categories
  - else
    .mdc-typography--subheading2.mt-5.container
      Major Categories
    .mdc-card.container.white
      .mdc-list
        - @major.major_categories.each do |category|
          = link_to major_curriculum_category_path(@major, category),
              class: "with-ripple mdc-list-item w-100" do
            .mdc-list-item__text= category.category
            %i.mdc-list-item__end-detail.material-icons
              chevron_right

  - if @major.minor_categories.empty?
    .mdc-typography--subheading2.mt-5 No Minor Categories
  - else
    .mdc-typography--subheading2.mt-5.container
      Minor Categories
    .mdc-card.mb-5.container.white
      .mdc-list
        - @major.minor_categories.each do |category|
          = link_to major_curriculum_category_path(@major, category),
              class: "with-ripple mdc-list-item w-100" do
            .mdc-list-item__text= category.category
            %i.mdc-list-item__end-detail.material-icons
              chevron_right
