<% content_for :title do %>
    Courses in <%= @courses[0].subject %>
<% end %>
    
<div layout horizontal center-justified id="remove_course_div">

    <paper-shadow id="remove_course_shadow_div">
        <paper-tabs selected=<%= @page %> scrollable id="paperTabs">
            <% @pages.each do |subject| %>
                <paper-tab>
                    <%= link_to subject, {:controller => "courses", :action => "index", :subject => subject, remote: true }, class: "subject_paginator" %>
                </paper-tab>
            <% end %>
        </paper-tabs>
        
        <div id="paginated_courses_div">
            <%= render @courses %>
        </div>
    </paper-shadow>
</div>
<br><br>
<% if notice %>
 	 <paper-toast id="toast1" class="capsule" text="<%= notice %>" style="padding-right: 60px;color: #4CAF50;" duration="10000" opened ></paper-toast>
<% end %>

<%= link_to "Create Course", new_course_path, id: "new_course_link", hidden: "" %>
<paper-fab icon="add" title="Create a Course" id="new_course_material"></paper-fab>
