- content_for :title, "Courses"
- content_for :toolbar do
  = material_icon.file_upload.css_class("upload-offerings")

.layout.vertical.center.mt-3
  .container
    - @courses.each do |course_code, courses|
      .mdc-typography--subheading2= course_code
      .mdc-card.mb-5.white
        .mdc-list.mdc-list--two-line
          - courses.each do |course|
            = link_to course, class: "mdc-list-item w-100 with-ripple" do
              .mdc-list-item__text
                .mdc-list-item__text__primary= course.condensed_course
                .mdc-list-item__text__secondary= course.title
              = material_icon.chevron_right.css_class("mdc-list-item__end-detail")
  = render "paginated_letters"

= fab new_course_path

= render "offerings/upload"
