<% content_for :title do %>
    Add New Course
<% end %>

<div layout horizontal center-justified>
    <paper-shadow id="new_course_shadow_div">
        <%= form_for(@course, remote: true) do |f| %>

            <paper-input-decorator label="Subject (ex: CSC, CET, etc)" class="password_decorator">
                <%= f.text_field :subject, maxlength: 3, size: 3, is: 'core-input' %>
            </paper-input-decorator>
            
            <paper-input-decorator label="Course Number (ex: 120, 323, etc)" class="password_decorator">
                <%= f.text_field :course, maxlength: 3, size: 3, is: 'core-input' %>
            </paper-input-decorator>
            
            <paper-input-decorator label="Title (ex: Operating Systems)" class="password_decorator">
                <%= f.text_field :title, is: 'core-input' %>
            </paper-input-decorator>

            <paper-input-decorator label="Credits (ex: Defaults to 3)" class="password_decorator">
                <%= f.text_field :credits, is: 'core-input' %>
            </paper-input-decorator>
            
            <br>
            <%= f.label 'Choose Required Prerequisites (if any):', style: "font-size:15px;font-weight:bold;"%>
            <br>
            <%= f.select(:minimum_pt, options_for_select([["No Placement Test must be passed", ""],["Passing Part A of the Math Placement Exam", "A"],["Passing Part B of the Math Placement Exam", "B"],["Passing Part C of the Math Placement Exam", "C"],["Passing Part D of the Math Placement Exam", "D"]])) %>
            <br>            
            <%= f.select(:minimum_class_standing, options_for_select(["No minimum class standing","Senior", "Junior", "Sophmore", "Freshman"])) %>
            <br>
            <%= f.select(:minimum_sat_score, options_for_select([["No minimum SAT score", ""],["440 on Mathematics or better", "440"], ["520 on Mathematics or better","520"], ["580 on Mathematics or better","580"], ["640 on Mathematics or better","640"], ["700 on Mathematics or better","700"]])) %>
            <br>
            
            <div id="prereq_groups">
                <div class="course_prereq_group 1" layout vertical>
                    <%= f.label 'Group 1:' %>
                    <%= f.select(:prerequisites, options_for_select(@courses), {}, { class: "actual_select_courses", multiple: true, size: 6}) %>
                    <br>
                </div>
            </div>
            
            <div layout center-justified horizontal style="color:#4CAF50;">
                <paper-button onclick="orClause()">ADD an 'or' group</paper-button>
            </div>
            
            <div style="width:100%;" id="prereq_min_grades"></div>
            <%= text_field_tag :prereq_grades,nil ,hidden:"" %>
            
            <br><br>
            <div layout horizontal end-justified style="color:#2196F3;">
                <paper-button id="cancel_new_course">Cancel</paper-button>
                <paper-button id="material_create_course">Create Course</paper-button>
            </div>
    
            <%= f.submit 'Create Course', hidden: "", id: 'actual_create_course' %>
            
            <script>
                var max_group_id = 1;
                function orClause() {
                    max_group_id = max_group_id +1;
                    $("#prereq_groups").append("<div layout horizontal center-justified> - OR -</div><div class=\"course_prereq_group " + max_group_id + "\"><label>Group " + max_group_id + "</label><%= j f.select(:prerequisites, options_for_select(@courses), {}, { class: "actual_select_courses", multiple: true, size: 6}) %></div>");
                }
                
                $("#prereq_groups").on("change",  "select", function() {
                    $("#prereq_min_grades").html("");
                    $(".actual_select_courses option:selected").each(function() {
                        $("#prereq_min_grades").append("<div layout horizontal style='margin-top:5px;margin-bottom:5px;'><div flex>" + $(this).text() + "</div><div><%= j select_tag(:minimum_grades, options_for_select(["N/A","C", "C-"]), class: "prereq_grades_dropdown") %></div></div>");
                    });
                    var string = "";
                    $(".prereq_grades_dropdown option:selected").each(function() {
                        string += $(this).text() + "/|/"
                    });
                    $("#prereq_grades").val(string);
                });
                
                $("#prereq_min_grades").on("change",  "select", function() {
                    var string = "";
                    $(".prereq_grades_dropdown option:selected").each(function() {
                        string += $(this).text() + "/|/"
                    });
                    $("#prereq_grades").val(string);
                });
                    
            </script>  
        <% end %>
    </paper-shadow>
</div>