<% content_for :title do %>
    Add New Course
<% end %>

<div layout horizontal center-justified>
    <paper-shadow id="new_course_shadow_div">
        <%= form_for(@course, remote: true) do |f| %>
        
            <paper-input-decorator label="Subject (ex: CSC, CET, etc)">
                <%= f.text_field :subject, maxlength: 3, size: 3, is: 'core-input' %>
            </paper-input-decorator>
            
            <paper-input-decorator label="Course Number (ex: 120, 323, etc)">
                <%= f.text_field :course, maxlength: 3, size: 3, is: 'core-input' %>
            </paper-input-decorator>
            
            <paper-input-decorator label="Title (ex: Operating Systems)">
                <%= f.text_field :title, is: 'core-input' %>
            </paper-input-decorator>

            <paper-input-decorator label="Credits (ex: Defaults to 3)">
                <%= f.text_field :credits, is: 'core-input' %>
            </paper-input-decorator>
            
            <br>
            <%= f.label 'Choose Required Prerequisites (if any):', style: "font-size:15px;font-weight:bold;"%>
            <br><br>
            <div class="course_prereq_group 1" layout vertical>
                <%= f.label 'Group 1:' %>
                <%= f.select(:prerequisites, options_for_select(@courses), {}, { class: "actual_select_courses", multiple: true, size: 6}) %>
                <br>
            </div>
            
            <div layout center-justified horizontal style="color:#4CAF50;">
                <paper-button onclick="orClause()">ADD an or group</paper-button>
            </div>
            
            <br><br>
            <div layout horizontal end-justified style="color:#03A9F4;">
                <paper-button id="cancel_new_course">Cancel</paper-button>
                <paper-button id="material_create_course">Create Course</paper-button>
            </div>
    
            <%= f.submit 'Create Course', hidden: "", id: 'actual_create_course' %>
            
            <script>
                var max_group_id = 1;
                function orClause() {
                    max_group_id = max_group_id +1;
                    $(".course_prereq_group").last().after("<div layout horizontal center-justified> - OR -</div><div class=\"course_prereq_group " + max_group_id + "\"><label>Group " + max_group_id + "</label><%= j f.select(:prerequisites, options_for_select(@courses), {}, { class: "actual_select_courses", multiple: true, size: 6}) %></div>");
                }
            </script>  
        <% end %>
    </paper-shadow>
</div>