- content_for :title, "Courses"
- content_for :back_url, courses_path(letter: @course.subject.first)
- content_for :toolbar do
  = material_icon.file_upload.css_class("upload-offerings")

.layout.vertical.center.mt-3
  .container
    .mdc-card.white
      %section.mdc-card__primary
        %h1.mdc-card__title.mdc-card__title--large.layout.horizontal
          = @course.condensed_course
          .flex
          = overflow_menu edit_link: edit_course_path(@course),
                          destroy_link: course_path(@course)

        %h2.mdc-card__subtitle= @course.title
      %section.mdc-card__supporting-text
        .mdc-typography--subheading1
          = @course.description
          - if @course.prerequisites.present?
            Prerequisites: #{@course.prerequisite_info}
            %br
          (#{@course.credits} credits)

      %section.mdc-card__actions
        = link_to "Offerings", course_offerings_path(@course),
            class: "mdc-button mdc-card__action"

= render "offerings/upload"
