= form_for @category do |f|
  = f.text_field :category, label: "Category (ex: Electives, Core, etc.)"

  .category-radio
    = f.radio_button(:minor, false, checked: true, label: "Major")
    = f.radio_button(:minor, true, label: "Minor")

  .category-set-logic-text
    Will the student only need to complete one or all of the sets to complete this category?

  .category-radio
    = f.radio_button(:set_and_or_flag, "or", label: "One set")
    = f.radio_button(:set_and_or_flag, "and", label: "All sets")

  %div.layout.vertical.center
    = f.fields_for :curriculum_category_sets, @category_sets do |builder|
      .category-sets-container
        = render "curriculum_category_set_fields", f: builder

    = link_to_add_association 'Add Set', f, :curriculum_category_sets, id: "add-sets",
      "data-association-insertion-node"      => "#add-sets",
      "data-association-insertion-method"    => "before"

  = f.submit
