<%= form_for(@new_category, remote: true) do |f| %>
            
        <paper-input-decorator label="Category (ex: Electives, Core, etc.)">
            <%= f.text_field :category, is: 'core-input' %>
        </paper-input-decorator>

        <paper-input-decorator label="Required Number of Credits">
            <%= f.number_field :required_amount_of_credits, is: 'core-input', in: 1..200 %>
        </paper-input-decorator>

        <br>
        <div layout horizontal center-justified>
            <paper-button id="material_create_category">Create Category</paper-button>
        </div>
    
        <%= f.submit 'Create category', hidden: "", id: 'actual_create_category' %>
        
<% end %>
    
    <div id="category_errors"></div>

    <% @new_category.errors.full_messages.each do |error| %>
        <p><%= error %></p>
    <% end %>
