<%= form_for(@new_category, remote: true) do |f| %>
            
        <paper-input-decorator label="Category (ex: Electives, Core, etc.)">
            <%= f.text_field :category, is: 'core-input' %>
        </paper-input-decorator>
        
        <div layout horizontal center-justified>
            <paper-radio-group selected="major">
              <paper-radio-button name="major" label="Major" id="major_paper_radio"></paper-radio-button>
              <paper-radio-button name="minor" label="Minor" id="minor_paper_radio"></paper-radio-button>
            </paper-radio-group>
        </div>
        
        <div hidden>
            <%= f.radio_button(:minor, false, options ={ checked: "checked"}) %>
            <%= f.radio_button(:minor, true) %>
        </div>
        
        <br>
        <div layout horizontal end-justified style="color:#03A9F4;">
            <paper-button core-overlay-toggle>Cancel</paper-button>
            <paper-button id="material_create_category">Create</paper-button>
        </div>
    
        <%= f.submit 'Create category', hidden: "", id: 'actual_create_category' %>
        
<% end %>
    
    <div id="category_errors"></div>

    <% @new_category.errors.full_messages.each do |error| %>
        <p><%= error %></p>
    <% end %>