<% content_for :title do %>
    <%= @user.major.major %> Categories
<% end %>

<div class="horizontal wrap layout around-justified">
    <div>
        <div class="layout horizontal center-justified">
            <h4 class="cat_heading"><%= @user.major.major %> Major</h4>
        </div>
        
        <div class="layout horizontal center-justified" id="index-categroy-div">
            <paper-material id="index-category-material">
                <div id="paginated_courses_div">
                    <%= render @major_categories %>
                </div>
            </paper-material>
        </div>
    </div>
    
    <div>
        <div class="layout horizontal center-justified">
            <h4 class="cat_heading"><%= @user.major.major %> Minor</h4>
        </div>
        
        <div class="layout horizontal center-justified" id="index-categroy-div">
            <paper-material id="index-category-material">
                <div id="paginated_courses_div">
                    <%= render @minor_categories %>
                </div>
            </paper-material>
        </div>
    </div>
</div>

<paper-fab icon="add" title="Add a New Category" id="new_category_material"></paper-fab>

<div id="categories-notice">
  <% if notice %>
    <paper-toast id="categories-notice-toast" text="<%= notice %>" style="z-index: 13;" class="fit-bottom layout horizontal center-center"></paper-toast>
  <% end %>
</div>