- content_for :title, @category.category
- content_for :back_url, major_path(@major)
- content_for :toolbar_actions do
  = link_to edit_major_curriculum_category_path(@major, @category), class: "ml-2", style: "color: #fff;display:flex;" do
    = material_icon.mode_edit
  = link_to major_curriculum_category_path(@major, @category), data: { confirm: "Are you sure?" }, method: :delete, class: "ml-2", style: "color: #fff;display:flex;" do
    = material_icon.delete


.layout.vertical.center.mt-2.mb-3
  = @category.pretty_set_flag

.vertical.layout.center
  - @category.curriculum_category_sets.each_with_index do |category_set, index|
    .mdc-typography--subheading2.layout.horizontal.start-justified{ style: "width: 400px;max-width: 90%;"}
      Section #{index + 1}
      .flex
      = category_set.pretty_count
    .mdc-card{ style: "width: 400px;max-width: 90%;margin-bottom: 40px;background:#fff;"}
      .mdc-list
        - category_set.courses.each do |course|
          .mdc-list-item
            .mdc-list-item__text= course.pretty_course
