- content_for :title do
  = @category.category

.layout.vertical.center
  %h3.mdl-display-2.bold.center-text
    = @category.category
  %div
    = @category.set_and_or_flag if @category.set_and_or_flag

.category-container.layout.horizontal.center-justified.wrap
  = render @category.curriculum_category_sets

= link_to edit_curriculum_category_path(@category) do
  %button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.new_category_fab
    %i.material-icons
      edit
