- content_for :title, @category.category
- content_for :back_url, major_path(@major)
- content_for :toolbar do
  = link_to edit_major_curriculum_category_path(@major, @category),
      class: "ml-2 white-text d-flex" do
    = material_icon.mode_edit
  = link_to major_curriculum_category_path(@major, @category),
      data: { confirm: "Are you sure?" }, method: :delete,
      class: "ml-2 white-text d-flex" do
    = material_icon.delete
- content_for :active_tab, :majors


.layout.vertical.center.mt-2.mb-3= @category.pretty_set_flag

.vertical.layout.center
  - @category.curriculum_category_sets.each_with_index do |category_set, index|
    .mdc-typography--subheading2.layout.horizontal.start-justified.container
      Section #{index + 1}
      .flex
      = category_set.pretty_count
    .mdc-card.mb-5.white.container
      .mdc-list
        - category_set.courses.each do |course|
          .mdc-list-item
            .mdc-list-item__text= course.pretty_course
