<% content_for :title do %>
    <%= @category.category %>
<% end %>

<br>
<div layout horizontal center-justified style="font-size:16px;font-weight:bold;" id="cat_set_flag_div"><%= (@category.set_and_or_flag == nil or @category.set_and_or_flag == false) ? "Sets will be anded together" : "Sets will be ored together" %></div>
<%= form_for(@category, remote: true) do |f| %>
    <div layout horizontal center-justified>
        <paper-radio-group selected="<%= (@category.set_and_or_flag == nil or @category.set_and_or_flag == false) ? "and" : "or" %>">
          <paper-radio-button name="and" label="And" id="set_logic_and_paper_radio"></paper-radio-button>
          <paper-radio-button name="or" label="Or" id="set_logic_or_paper_radio"></paper-radio-button>
        </paper-radio-group>
    </div>

    <div hidden>
        <%= f.radio_button(:set_and_or_flag, false, options ={ checked: "checked"}) %>
        <%= f.radio_button(:set_and_or_flag, true) %>
    </div>
    
    <%= f.submit "Update", id: "submit_and_or_flag", hidden: "" %>
<% end %>
<br><br>
<div layout horizontal center-justified>
    <paper-shadow style="margin-left:10px;margin-right:10px;width:475px;background:#fafafa;border-radius:2px;padding:20px 20px;">
        <%= form_tag do |f| %>
            <div class="category_course_set">
                <%= label_tag 'Set ' + (@cc_courses.count + 1).to_s %>
                <%= select_tag(:course_id, options_for_select(@courses), { class: "category_course_set_select", multiple: true, size: 8}) %>
                <br>
            </div>
            
            <div id="cc_set_dropdown_error_msg" layout horizontal center-justified>
              <div id="cc_set_dropdown_course_error" layout horizontal center-justified>
                <div id="signup_dropdown__error_text" flex>At least once course must be selected!</div>
                <core-icon class="error-icon" id="cc_set_dropdown_error_icon" icon="warning"></core-icon>
              </div>
            </div>
            
            <div>
                <paper-input-decorator label="Enter Count (If left empty, all are required)" id="count_decorator" Error="Value must be an integer!" id="count_decorator">
                    <%= text_field_tag :count, nil, pattern: "^[0-9]*$" %>
                </paper-input-decorator>
            </div>
        
            <br><br>
            <div layout horizontal end-justified style="width:100%;color:#2196F3;">
                <paper-button id="cancel_new_set">Cancel</paper-button>
                <%= link_to "category", curriculum_categories_path, hidden: "", id: "category_index_link" %>
                <paper-button id='submit_category_class_material'>Create Set</paper-button>
                <%= submit_tag 'create set' , id: 'submit_category_class_button', hidden: "" %>
            </div>
        <% end %>
    </paper-shadow>
</div>
<br><br>

<% if notice %>
 	 <paper-toast id="toast1" class="capsule" text="<%= notice %>" style="padding-right: 60px;color:#4CAF50;" duration="10000" opened ></paper-toast>
<% end %>

<div vertical center layout>
    <% i = 1 %>
    <% @cc_courses.each do |set_id, cc_set|  %>
        <paper-shadow style="background: #fafafa;width:300px;">
            <div noink layout horizontal center-justified>
                
                <span style="font-size:16px;margin:12px;" flex>Set <%= i %> - <%= cc_set.count == nil ? "All are required" : "Choose " + cc_set.count.to_s + " of the following"  %></span>
                <span>
                    <paper-menu-button>
                        <paper-icon-button icon="more-vert" noink></paper-icon-button>
                        <paper-dropdown class="dropdown" halign="right" valign="top">
                            <core-menu class="menu">
                                <paper-item><core-icon icon="create"></core-icon>&nbsp;&nbsp;&nbsp;<%= link_to 'Edit', edit_curriculum_category_curriculum_category_set_path(@category, cc_set), class: "cat_set_edit"  %></paper-item>
                                <paper-item><core-icon icon="close"></core-icon>&nbsp;&nbsp;&nbsp;<%= link_to 'Delete', [@category, cc_set] , method: :delete, data: {confirm: "Are you sure you want to delete this set?"}, class: "cat_set_remove" %></paper-item>
                            </core-menu>
                        </paper-dropdown>
                    </paper-menu-button>
                </span>
            </div>
            <% cc_set.course_set.each do |course_set| %>
                <paper-item noink layout horizontal center-justified style="text-align:center;cursor:default;"><%= course_set.course.subject + course_set.course.course.to_s + ": " + course_set.course.title %></paper-item>
            <% end %>
        </paper-shadow>
        <% i += 1 %>
        <br>
    <% end %>
</div>