<!DOCTYPE html>
<html>
<head>
  <title><%= (yield :title) + " | " %>CalU Advisor</title>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/icon?family=Material+Icons', 'https://code.getmdl.io/1.1.1/material.blue_grey-red.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'https://code.getmdl.io/1.1.1/material.min.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'callogo2.png' %>
  <link href="<%= image_url('callogo2.png') %>" rel="apple-touch-icon">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="minimal-ui, width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="theme-color" content="#2196F3">
</head>
<body class="fullbleed vertical layout">
  <% if notice || alert %>
    <div id="notice" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"><%= notice %><%= alert %></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>
  <% end %>

  <% if current_user %>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
      <div class="mdl-layout__drawer" id="drawer" data-turbolinks-permanent>
        <span class="mdl-layout-title">Menu</span>
        <nav class="mdl-navigation">
          <%= link_to users_path, class: "mdl-navigation__link" do %>
            <i class="material-icons">perm_identity</i>
            Students
          <% end %>
          <%= link_to courses_path, class: "mdl-navigation__link" do %>
            <i class="material-icons">class</i>
            Courses
          <% end %>
          <%= link_to offerings_path, class: "mdl-navigation__link" do %>
            <i class="material-icons">event</i>
            Offerings
          <% end %>
          <%= link_to majors_path, class: "mdl-navigation__link" do %>
            <i class="material-icons">bookmark</i>
            Majors
          <% end %>
          <%= link_to semesters_path, class: "mdl-navigation__link" do %>
            <i class="material-icons">today</i>
            Semesters
          <% end %>
          <%= link_to curriculum_categories_path, class: "mdl-navigation__link" do %>
            <i class="material-icons">sort</i>
            Categories
          <% end %>
          <%= link_to edit_user_registration_path, class: "mdl-navigation__link" do %>
            <i class="material-icons">settings</i>
            Settings
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete, class: "mdl-navigation__link" do %>
            <i class="material-icons">power_settings_new</i>
            Logout
          <% end %>
        </nav>
      </div>

      <main class="mdl-layout__content">
        <div class="page-content">
          <%= yield %>
        </div>
      </main>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
</body>
</html>
