!!!
%html
  %head
    %title= render_title(yield(:title))
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag "callogo2.png"
    %link{ href: image_url("callogo2.png"), rel: "apple-touch-icon" }/
    %meta{ content: "yes", name: "mobile-web-app-capable" }/
    %meta{ content: "yes", name: "apple-mobile-web-app-capable" }/
    %meta{ content: "minimal-ui, width=device-width,
      height=device-height, initial-scale=1.0, maximum-scale=1.0", name: "viewport" }/
    %meta{ content: "#2196F3", name: "theme-color" }/

  %body.vertical.layout
    = snackbar_notice(notice || alert)

    - if current_user
      %header.mdc-toolbar.mdc-toolbar--fixed
        .mdc-toolbar__row
          %section.mdc-toolbar__section.mdc-toolbar__section--align-start.flex-2
            = render_back_url(yield(:back_url))
            %span.mdc-toolbar__title= yield(:title)
          %section.mdc-toolbar__section.mdc-toolbar__section--align-end
            = yield(:toolbar)
            = link_to edit_user_registration_path, class: "ml-2 white-text d-flex" do
              = material_icon.settings
            = link_to destroy_user_session_path, method: :delete, class: "mx-2 white-text d-flex" do
              = material_icon.exit_to_app

    %main.mdc-toolbar-fixed-adjust.mb-10= yield

    = render "layouts/drawer", active_tab: yield(:active_tab)
