<!DOCTYPE html>
<html>
<head>
  <title>CalU Advisor</title>
  <link data-turbolinks-track="true" rel="import" href="/polymer_components/components" >
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', params[:controller] %>
  <%= javascript_include_tag 'date' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'callogo2.png' %>
  <link href="<%= image_url('callogo2.png') %>" rel="apple-touch-icon">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="minimal-ui, width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="theme-color" content="#2196F3">
</head>
<body unresolved>

    <% if not (current_page?(signup_path) or current_page?(login_path) or current_page?(root_path) or (params.has_key?(:id) ? current_page?(edit_password_reset_path) : false)) %>
      <paper-drawer-panel>

        <paper-header-panel drawer mode="waterfall-tall" tallClass="medium-tall">
          <paper-toolbar id="navheader" style="background-color: #4CAF50;font-size:21px;line-height:1.5em;">
            <div class="bottom">
              <div style="color:#FFF;">Menu</div>
              <div style="font-style:italic;color:#C8E6C9;font-size:16px;"><%= User.find(session[:user_id]).last_name %> is logged in</div>
            </div>
          </paper-toolbar>
          
          <paper-menu id="drawer-menu">
            <% if User.find(session[:user_id]).advisor %>
              <% if params[:user_id] and current_page?(user_schedules_path(params[:user_id]))%>
                <paper-item id="drawer_transcripts_item_baluga"><iron-icon icon="description"></iron-icon>Transcript</paper-item>
                <paper-item id="drawer_schedule_item_baluga"><iron-icon icon="schedule"></iron-icon>Schedule</paper-item>
                <paper-item id="drawer_new_schedule_item_baluga" style="border-bottom: 1px solid #B9B9B9;"><iron-icon icon="create"></iron-icon>Classes</paper-item>
              <% end %>
              <paper-item id="drawer-users"><iron-icon icon="perm-identity"></iron-icon><%= link_to "Students", users_path %></paper-item>
              <paper-item id="drawer-courses"><iron-icon icon="class"></iron-icon><%= link_to "Courses", courses_path %></paper-item>
              <paper-item id="drawer-offerings"><iron-icon icon="event"></iron-icon><%= link_to "Offerings", offerings_path %></paper-item>
              <paper-item id="drawer-majors"><iron-icon icon="bookmark"></iron-icon><%= link_to "Majors", majors_path %></paper-item>
              <paper-item id="drawer-semesters"><iron-icon icon="today"></iron-icon><%= link_to "Semesters", semesters_path %></paper-item>
              <paper-item id="drawer-categories"><iron-icon icon="sort"></iron-icon><%= link_to "Categories", curriculum_categories_path %></paper-item>
              <paper-item id="drawer-settings" style="border-top: 1px solid #B9B9B9;"><iron-icon icon="settings"></iron-icon><%= link_to 'Settings', edit_user_path(User.find_by_id(session[:user_id])) %></paper-item>
            <% else %>
              <paper-item id="drawer_transcripts_item_baluga"><iron-icon icon="description"></iron-icon>View Transcript</span></paper-item>
              <paper-item id="drawer_schedule_item_baluga"><iron-icon icon="schedule"></iron-icon>View Schedule</paper-item>
              <paper-item id="drawer_new_schedule_item_baluga"><iron-icon icon="create"></iron-icon>Modify Schedule</paper-item>
              <paper-item id="drawer_change_password_item_baluga" ><iron-icon icon="settings"></iron-icon>Settings</paper-item>
            <% end %>
              <paper-item id="drawer-logout"><iron-icon icon="settings-power"></iron-icon><%= button_to 'Logout', logout_path, { method: :delete, id: "logout-button" } %></paper-item>
          </paper-menu>
        </paper-header-panel>
  
        <paper-header-panel main mode="waterfall-tall" tallClass="medium-tall" id="main">
          <paper-toolbar id="mainheader">
            <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
            <div class="bottom indent title_div" flex>
              <%= yield :title %>
            </div>
            <% if current_page?(new_offering_path)%>
              <div class="bottom">
                <paper-fab icon="cloud-upload" style="margin-top:56px;margin-right:25px;background: #4CAF50;color:#FFF;" id="upload-fab"></paper-fab>
              </div>
            <% elsif (params.has_key?(:user_id) ? current_page?(user_schedules_path) : false) %>
              <div class="bottom">
                <paper-fab icon="cloud-upload" style="margin-top:56px;margin-right:25px;background: #4CAF50;color:#FFF;z-index:12;" id="fab_new_schedule" layered></paper-fab>
              </div>
            <% end %>
          </paper-toolbar>
          <div class="content">
            <%= yield %>
          </div>
        </paper-header-panel>
      </paper-drawer-panel>
    <% else %>
      <%= yield %>
    <% end %>

<div id="whole_screen_uploader" style="z-index:99;">
  <core-image style="width:60%; height:65%; background-color: #ececec;margin:auto;left:20%;" 
  sizing="contain" preload fade src="<%= image_url('callogo.jpg') %>"></core-image>
  <div layout horizontal center-justified style="margin-top:-.5em;">
    <p id="uploading_text"><b>Uploading and Inserting Data...</b></p><br>
  </div>
  <div layout horizontal center-justified>
    <div class="loading"></div>
  </div>
</div>

</body>
</html>
